force-app/main/default/flows/PRSE_EmailHasBeenVerified.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Decrypt_Token</name>
        <label>Decrypt Token</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_TokenDecryptionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Can_user_Link_Accounts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>EmailHasNotBeenVerified</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>token</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_TokenDecryptionAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Transfer_Exemption_Ownership</name>
        <label>Transfer Exemption Ownership</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_AccountLinkingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mark_User_as_Completed_Setup</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>legacyAccountId</name>
            <value>
                <elementReference>Decrypt_Token.targetId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newAccountId</name>
            <value>
                <elementReference>Get_Current_Account_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newOwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_AccountLinkingService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Can_user_Link_Accounts</name>
        <label>Can user Link Accounts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EmailHasNotBeenVerified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Can_Link_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Decrypt_Token.userId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimestampValidator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.SetupComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Info</targetReference>
            </connector>
            <label>User Can Link Accounts</label>
        </rules>
        <rules>
            <name>User_Cannot_Link_Accounts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Decrypt_Token.userId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TimestampValidator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.SetupComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailHasNotBeenVerified</targetReference>
            </connector>
            <label>User Cannot Link Accounts</label>
        </rules>
    </decisions>
    <description>System Context</description>
    <environments>Default</environments>
    <formulas>
        <name>TimestampValidator</name>
        <dataType>Boolean</dataType>
        <expression>IF(VALUE({!Decrypt_Token.timestamp}) &lt; (VALUE({!Decrypt_Token.timestamp}) + 86400),True , False)</expression>
    </formulas>
    <interviewLabel>PRSE_EmailHasBeenVerified {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Email Has Been Verified</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Existing Account Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Decrypt_Token.targetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account_ID</name>
        <label>Get Current Account ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Name_and_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Name_and_Address</name>
        <label>Get Name and Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_User_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Info.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Contact</name>
        <label>Get User Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_account_as_Linked_from_Legacy</name>
        <label>Mark account as Linked from Legacy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EmailHasBeenVerified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Linked_from_Legacy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_User_as_Completed_Setup</name>
        <label>Mark User as Completed Setup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mark_account_as_Linked_from_Legacy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SetupComplete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_User_Account</name>
        <label>Update Current User Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_User_Record_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BusinessName__c</field>
            <value>
                <elementReference>Get_Account_Info.BusinessName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Account_Info.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landlord_Type__c</field>
            <value>
                <elementReference>Get_Account_Info.Landlord_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Account_Info.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Get_Account_Info.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>Get_Account_Info.PersonMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>Get_Account_Info.PersonMailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>Get_Account_Info.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>Get_Account_Info.PersonMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Account_Info.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_Details</name>
        <label>Update User&apos;s Record Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transfer_Exemption_Ownership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Account_Info.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Account_Info.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EmailHasBeenVerified</name>
        <label>EmailHasBeenVerified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailHasBeenVerifiedHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>EmailHasBeenVerified</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailHasBeenVerifiedText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Your email address has been verified&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;All exemptions registered by this email address will be linked to your account&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailHasBeenVerifiedButton</name>
            <extensionName>uxgovuk:govStartButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>link</name>
                <value>
                    <stringValue>Dashboard__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Save and continue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmailHasNotBeenVerified</name>
        <label>EmailHasNotBeenVerified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailHasNotBeenVerifiedHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>EmailHasBeenVerified</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailHasNotBeenVerifiedText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Your email address has not been verified&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;Please try again&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decrypt_Token</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CurrentPersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_PersonContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
