force-app/main/default/flows/PRSE_End_Parent_Exemption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Increase_Child_Exemption_Count</name>
        <label>Increase Child Exemption Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TotalChildExemptionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Exemption_Ended</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Ended_Child_Exemption_Count</name>
        <label>Increase Ended Child Exemption Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_EndedChildExemptionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Check_for_Non_Ended_Exemptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Expired_Child_Exemption_Count</name>
        <label>Increase Expired Child Exemption Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ExpiredChildExemptionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Check_for_Non_Ended_Exemptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_active_exemption_found</name>
        <label>Update active exemption found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_HasActiveChildExemption</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Check_for_Non_Ended_Exemptions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_Active_Child_Exemptions</name>
        <label>Are there any Active Child Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EndOrExpireParentExemption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_HasActiveChildExemption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EndOrExpireParentExemption</name>
        <label>End Or Expire Parent Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>End_Parent_Exemption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expire_Exemption</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_ExpiredChildExemptionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_TotalChildExemptionCount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExpiredChildExemptionCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expire_Parent_Exemption</targetReference>
            </connector>
            <label>Expire Exemption</label>
        </rules>
        <rules>
            <name>End_Exemption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EndedChildExemptionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_TotalChildExemptionCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Parent_Exemption</targetReference>
            </connector>
            <label>End Exemption</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Exemption_Ended</name>
        <label>Is Exemption Ended</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_active_exemption_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_and_Check_for_Non_Ended_Exemptions.End_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_and_Check_for_Non_Ended_Exemptions.End_Reason__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_It_Ended_Or_Expired_By_System</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_Ended_Or_Expired_By_System</name>
        <label>Is It Ended Or Expired By System</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Increase_Ended_Child_Exemption_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ended</defaultConnectorLabel>
        <rules>
            <name>Expired_By_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_and_Check_for_Non_Ended_Exemptions.Additional_End_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exemption Expired by System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Expired_Child_Exemption_Count</targetReference>
            </connector>
            <label>Expired By System</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>End Parent Exemption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE End Parent Exemption</label>
    <loops>
        <name>Loop_and_Check_for_Non_Ended_Exemptions</name>
        <label>Loop and Check for Non Ended Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Child_Exemptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Child_Exemption_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_any_Active_Child_Exemptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Child_Exemptions</name>
        <label>Get All Child Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_and_Check_for_Non_Ended_Exemptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Exemption__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>End_Parent_Exemption</name>
        <label>End Parent Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Exemption__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Expire_Parent_Exemption</name>
        <label>Expire Parent Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Exemption__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Child_Exemptions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Reason__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Exemption_Type_Link__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_EndedChildExemptionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ExpiredChildExemptionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_HasActiveChildExemption</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_TotalChildExemptionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
