force-app/main/default/flows/PRSE_Get_EPC_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_EPC_Info</name>
        <label>Get EPC Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_RetrieveEPCInfoAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EPC_Expired_Check</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>propertyType</name>
            <value>
                <elementReference>var_Input_PropertyType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uprn</name>
            <value>
                <elementReference>var_Input_UPRN</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_RetrieveEPCInfoAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Assign_Certificate_Dates</name>
        <label>Assign Certificate Dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_output_certificateDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EPC_Info.rawDateOfCertificate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Back_or_Continue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EPC_Number_to_Exemption</name>
        <label>Assign EPC Number to Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Output_CertificateNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EPC_Info.certificateNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Output_EnergyRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EPC_Info.energyRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_output_certificateDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EPC_Info.rawDateOfCertificate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_output_friendlyCertificateDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EPC_Info.dateOfCertificate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Blank_EPC_Number_to_Exemption_Error_or_Expired</name>
        <label>Blank EPC Number to Exemption Error or Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Output_CertificateNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Output_EnergyRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Blank_EPC_Number_to_Exemption_Something_Wrong</name>
        <label>Blank EPC Number to Exemption Something Wrong</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Output_CertificateNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Output_EnergyRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Back_Variable</name>
        <label>Set Back Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_output_navigation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BACK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_EPC_Error</name>
        <label>Set EPC Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_output_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EPC_Info.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Back_or_Continue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Back_or_Continue</name>
        <label>Back or Continue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Blank_EPC_Number_to_Exemption_Error_or_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Exit_Backwards</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssistedDigitalNav_EPCError.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXIT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssistedDigitalNav_EPCExpired.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXIT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssistedDigitalNav_EPC.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Back_Variable</targetReference>
            </connector>
            <label>Exit Backwards</label>
        </rules>
    </decisions>
    <decisions>
        <name>EPC_Confirmed_OK</name>
        <label>EPC Confirmed OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_10_2_Something_Wrong_With_EPC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EPC_is_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EPCConfirmationRadios.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EPC_Number_to_Exemption</targetReference>
            </connector>
            <label>EPC is OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>EPC_Expired_Check</name>
        <label>EPC Expired Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_10_Energy_Performance_Certificate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EPCExpired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EPC_Info.isExpired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_10_EPC_Expired</targetReference>
            </connector>
            <label>EPC Expired</label>
        </rules>
        <rules>
            <name>EPC_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_EPC_Info.errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_EPC_Info.errorMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_10_EPC_Error</targetReference>
            </connector>
            <label>EPC_Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation_After_Screen_10_EPC</name>
        <label>Navigation After Screen 10 EPC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EPC_Confirmed_OK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>BackAfterSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssistedDigitalNav_EPC.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Back_or_Continue</targetReference>
            </connector>
            <label>Back</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PRSE Get EPC Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Get EPC Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_10_2_Something_Wrong_With_EPC</name>
        <label>Screen 10.2 - Something Wrong With EPC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Blank_EPC_Number_to_Exemption_Something_Wrong</targetReference>
        </connector>
        <fields>
            <name>EPC_SomethingWrong_TopSpacer</name>
            <extensionName>c:prseSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EPCErrorNorRight_MarkUp</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-l&quot; style=&quot;max-width: 66.6667%;&quot;&gt;Your energy performance certificate (EPC)&lt;/h2&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EPC_SomethingWrong_Inset</name>
            <extensionName>uxgovuk:govInsetText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>insetText</name>
                <value>
                    <stringValue>Send a copy of your energy performance certificate with your evidence.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AssistedDigitalNav_EPCNotRight</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Secondary,Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_10_Energy_Performance_Certificate</name>
        <label>Screen 10 - Energy Performance Certificate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigation_After_Screen_10_EPC</targetReference>
        </connector>
        <fields>
            <name>EPC_Confiormation_TopSpacer</name>
            <extensionName>c:prseSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EPCInformation_Markup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-l&quot; style=&quot;max-width: 66.6667%;&quot;&gt;Your energy performance certificate (EPC)&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;This information is generated from the energy performance certificate register.&lt;/p&gt;&lt;br&gt;&lt;br&gt;
&lt;table class=&quot;govuk-table&quot;&gt;
  &lt;tbody class=&quot;govuk-table__body&quot;&gt;
    &lt;tr class=&quot;govuk-table__row&quot;&gt;
      &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;Address&lt;/th&gt;
      &lt;td class=&quot;govuk-table__cell&quot;&gt;{!var_Input_PropertyAddresForEPC}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr class=&quot;govuk-table__row&quot;&gt;
      &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;Energy rating&lt;/th&gt;
      &lt;td class=&quot;govuk-table__cell&quot;&gt;{!Get_EPC_Info.energyRating}&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr class=&quot;govuk-table__row&quot;&gt;
      &lt;th scope=&quot;row&quot; class=&quot;govuk-table__header&quot;&gt;Date of certificate&lt;/th&gt;
      &lt;td class=&quot;govuk-table__cell&quot;&gt;{!Get_EPC_Info.dateOfCertificate}&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EPCConfirmationRadios</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueFieldId</name>
                <value>
                    <stringValue>EPCConfirmationRadios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select yes or no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <stringValue>Is this the correct energy performance certificate for the property?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <stringValue>Yes|No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <stringValue>Yes|No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AssistedDigitalNav_EPC</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Exit~Skip,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Secondary,Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_10_EPC_Error</name>
        <label>Screen 10 - EPC Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_EPC_Error</targetReference>
        </connector>
        <fields>
            <name>EPCError_TopSpacer</name>
            <extensionName>c:prseSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EPCError_MarkUp</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-l&quot; style=&quot;max-width: 80%;&quot;&gt;There was an error finding the energy performance certificate&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;If you do not have a current energy performance certificate you will need to get one and then return to register an exemption if needed. If you have an EPC that is not on the system, you will need to send it in with your evidence.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AssistedDigitalNav_EPCError</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Secondary,Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_10_EPC_Expired</name>
        <label>Screen 10 - EPC Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Certificate_Dates</targetReference>
        </connector>
        <fields>
            <name>EPCExpired_TopSpacer</name>
            <extensionName>c:prseSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EPCExpired_MarkUp</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-l&quot; style=&quot;max-width: 80%;&quot;&gt;The energy performance certificate has expired&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;If you do not have a current energy performance certificate you will need to get one and then return to register an exemption if needed. If you have an EPC that is not on the system, you will need to send it in with your evidence.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AssistedDigitalNav_EPCExpired</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Secondary,Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_EPC_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Input_PropertyAddresForEPC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Input_PropertyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Input_UPRN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_output_certificateDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Output_CertificateNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Output_EnergyRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_output_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_output_friendlyCertificateDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>If this is back then a back journey should be executed</description>
        <name>var_output_navigation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
