force-app/main/default/flows/PRSE_Property_Penalty_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Property_Penalty_Labels</name>
        <label>Assign Property Penalty Labels</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_PenaltyTypeTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Details of breach</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PenaltyTypeTitle</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Penalty amount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Property_Penalty_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Property_Penalty_Values</name>
        <label>Assign Property Penalty Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_PenaltyTypeValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>flaMappedBreachDetailsForPenalty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PenaltyTypeValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>flaPenaltyAmountText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Penalty_Detail</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>flaMappedBreachDetailsForPenalty</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!Get_Penalty_Detail.Penalty_Type__r.Name},
    &quot;Renting out a non-compliant property, less than 3 months in breach&quot;, &quot;The landlord rented out a non-compliant property for less than 3 months&quot;,
    &quot;Renting out a non-compliant property, 3 or more months in breach&quot;, &quot;The landlord rented out a non-compliant property for 3 or more months&quot;,
    &quot;Providing false or misleading information&quot;, &quot;The landlord provided false or misleading information&quot;,
    &quot;Failing to comply with a compliance notice&quot;, &quot;The landlord failed to comply with a compliance notice&quot;,
    &quot;Unknown Penalty Type&quot;  /* default value if no match is found */
)</expression>
    </formulas>
    <formulas>
        <name>flaPenaltyAmountText</name>
        <dataType>String</dataType>
        <expression>&quot;£&quot; + TEXT({!Get_Penalty_Detail.Penalty_Amount__c})</expression>
    </formulas>
    <interviewLabel>PRSE Property Penalty Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>PRSE Property Penalty Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Penalty_Detail</name>
        <label>Get Penalty Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Property_Penalty_Labels</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Penalty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Home_Redirect</name>
        <label>Home Redirect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HomeRedirect</name>
            <extensionName>c:navigateFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>PRSEPublicRegister/#SearchFor</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Penalty_Detail</name>
        <label>Penalty Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Home_Redirect</targetReference>
        </connector>
        <fields>
            <name>PenaltyDetailHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>view-penalty-details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PenaltyDetailBackMarkup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;a class=&quot;govuk-back-link&quot; href=&quot;/PRSEPublicRegister/#SearchFor&quot; data-module=&quot;govuk-back-link&quot;&gt;Back&lt;/a&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PenaltyDetailMarkup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&quot;govuk-heading-l&quot; style=&quot;max-width: 66.6667%;&quot;&gt;Property penalty notice&lt;/h1&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PenaltyDetailSummaryList</name>
            <extensionName>c:gdsSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>col_PenaltyTypeTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>col_PenaltyTypeValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>twoColumnLayoutForNoDestination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>Get_Penalty_Detail.Exemption__r.Full_Property_Address__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PenaltyDetailNav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>New Search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Penalty_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_PenaltyTypeTitle</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_PenaltyTypeValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
