force-app/main/default/flows/PRSE_End_Exemption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Fetch_Local_Authority_Accounts_Action</name>
        <label>Fetch Local Authority Accounts Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_RetrieveLocalAuthorityAccountAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendEmailIfLocalAuthorityAccountExists</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>localCustodianCodes</name>
            <value>
                <elementReference>Get_Exemption.Local_Custodian_Code__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_RetrieveLocalAuthorityAccountAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_a_Local_Authority_Associated</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Get_Exemption.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>PersonalisationJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>f3faf150-50a1-40d7-86c0-a0c64b8d6ee7</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Local_Authority_Email</name>
        <label>Send Local Authority Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Exemption_End_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>LAMailbox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>LAPersonalisationJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>b8b81b09-f614-45a6-b907-947a5f117e6d</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Separator_to</name>
        <label>Add Separator to Child Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_Exemptions.Exemption_Type__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_Exemptions.Exemption_Type_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_to_Child_Exemption_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Separator_to_Child_Exemption_Values</name>
        <label>Add Separator to Child Exemption Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionRefs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_Exemptions.Child_Exemption_Ref__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionRefs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Exemptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Child_Exemption_Count</name>
        <label>Add to Child Exemption Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChildExemptionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Child_Exemption_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Domestic_LA_Email</name>
        <label>Assign Domestic LA Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LAMailbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Local_Authority_Accounts_Action.DomesticNotificationsMailbox__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Local_Authority_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LA_JSON</name>
        <label>Assign LA JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LAPersonalisationJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_JSONLASetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_Exemption_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Domestic_LA_Email</name>
        <label>Assign Non-Domestic LA Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LAMailbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Local_Authority_Accounts_Action.NonDomesticNotificationsMailbox__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Local_Authority_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Landlord_type_to_string</name>
        <label>Landlord type to string</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_landlordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Account.Landlord_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_LA_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_trailing_separator</name>
        <label>Remove trailing separator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveTrailingSeparatorLabels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionRefs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveTrailingSeperatorRefs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Exemption_Type_to_end</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Concatenated_Exemption_Types</name>
        <label>Reset Concatenated Exemption Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Exemptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Exemption_Reference_Multi</name>
        <label>Set Child Exemption Reference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedChildExemptionRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Exemption_Type_to_end_Radio.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Exemption_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Exemption_Reference_Single</name>
        <label>Set Child Exemption Reference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedChildExemptionRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Child_Exemption.Child_Exemption_Ref__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Exemption_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Personalisation_JSON</name>
        <label>Set Personalisation JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PersonalisationJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_JSONSetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Details_before_deletion</name>
        <label>Store Details before deletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddressBeforeDeletion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreAddressBeforeDeletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Exemption</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_user_end_exemption</name>
        <label>Can user end exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Return_to_Dashboard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User does not own Exemption or Exemption is already ended</defaultConnectorLabel>
        <rules>
            <name>User_Owns_Exemption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.Owner:User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Exemption.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Exemption.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Exemption.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Exemptions</targetReference>
            </connector>
            <label>User Owns Exemption</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Or_Return_To_Dashboard</name>
        <label>Continue Or Return To Dashboard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_End_Exemption_Buttons.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEXT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Details_before_deletion</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
        <rules>
            <name>Copy_2_of_Return_to_Dashboard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_End_Exemption_Buttons.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DASHBOARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Return_to_Dashboard</targetReference>
            </connector>
            <label>Return to Dashboard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Or_Return_To_Dashboard_Why_Ending_Exemption</name>
        <label>Continue Or Return To Dashboard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_Why_Ending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_you_are_ending_exemption_navigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEXT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Other_selected</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
        <rules>
            <name>Return_to_Dashboard_Why_Ending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_you_are_ending_exemption_navigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DASHBOARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Return_to_Dashboard</targetReference>
            </connector>
            <label>Return to Dashboard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Continue_Or_Return_To_Dashboard</name>
        <label>Continue Or Return To Dashboard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Further_Explain_Why_Ending_Exemption_Nav.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEXT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_End_Exemption</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
        <rules>
            <name>Copy_1_of_Return_to_Dashboard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Further_Explain_Why_Ending_Exemption_Nav.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DASHBOARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Return_to_Dashboard</targetReference>
            </connector>
            <label>Return to Dashboard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Local_Authority_Associated</name>
        <label>Is a Local Authority Associated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Exemption_End_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Local_Authority_Associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.Local_Authority__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Local_Authority_Accounts_Action</targetReference>
            </connector>
            <label>Local Authority Associated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Exemption_Type_End_Continue_Or_Return_To_Dashboard</name>
        <label>Continue Or Return To Dashboard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_Exemption_Type_End_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Exemption_Type_to_end_Navigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEXT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Child_Exemption_Reference_Multi</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
        <rules>
            <name>Selext_Exemption_Type_End_Return_to_Dashboard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Exemption_Type_to_end_Navigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DASHBOARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_to_Dashboard</targetReference>
            </connector>
            <label>Return to Dashboard</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendEmailIfLocalAuthorityAccountExists</name>
        <label>Send Email If Local Authority Account Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Exemption_End_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendEmail</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Local_Authority_Accounts_Action.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Exemption.PropertyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Local_Authority_Accounts_Action.DomesticNotificationsMailbox__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Exemption.PropertyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Local_Authority_Accounts_Action.NonDomesticNotificationsMailbox__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Account</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Multiple_Exemption_Types</name>
        <label>Single or Multiple Exemption Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Reset_Concatenated_Exemption_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildExemptionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Child_Exemption</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Other_selected</name>
        <label>Was &quot;Other&quot; selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Confirm_End_Exemption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_you_are_ending_exemption_select.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Further_Explain_Why_Ending_Exemption</targetReference>
            </connector>
            <label>Other was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Exemption_Type</name>
        <label>What is Exemption Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Non_Domestic_LA_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Domestic</defaultConnectorLabel>
        <rules>
            <name>Domestic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.PropertyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Domestic_LA_Email</targetReference>
            </connector>
            <label>Domestic</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ReasonsToEndChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>End_Reason__c</picklistField>
        <picklistObject>Exemption_Type_Link__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Exemption_Ref_Number_Formatted</name>
        <dataType>String</dataType>
        <expression>&quot;Reference: &quot; + {!Get_Exemption.Ref_Number__c}</expression>
    </formulas>
    <formulas>
        <name>fla_AdditionalOrPreSetreason</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Further_Explain_Why_Ending_Exemption_TextArea.value}),{!Why_you_are_ending_exemption_select.value},SUBSTITUTE({!Further_Explain_Why_Ending_Exemption_TextArea.value}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;) )</expression>
    </formulas>
    <formulas>
        <name>fla_dateFormat</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY($Flow.CurrentDate)) &amp;
&quot; &quot; &amp;
CASE(
    MONTH($Flow.CurrentDate),
    1, &quot;January&quot;,
    2, &quot;February&quot;,
    3, &quot;March&quot;,
    4, &quot;April&quot;,
    5, &quot;May&quot;,
    6, &quot;June&quot;,
    7, &quot;July&quot;,
    8, &quot;August&quot;,
    9, &quot;September&quot;,
    10, &quot;October&quot;,
    11, &quot;November&quot;,
    12, &quot;December&quot;,
    &quot;&quot;
) &amp;
&quot; &quot; &amp;
TEXT(YEAR($Flow.CurrentDate))</expression>
    </formulas>
    <formulas>
        <name>fla_JSONLASetter</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;type\&quot;: \&quot;&quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} +  &quot;\&quot;, \&quot;reference number\&quot;: \&quot;&quot; + {!Get_Exemption.Ref_Number__c} + &quot;\&quot;, \&quot;address\&quot;: \&quot;&quot; + {!Get_Exemption.PropertyAddress__c} + &quot;, &quot; + {!Get_Exemption.PropertyPostcode__c} + &quot;\&quot;, \&quot;user type\&quot;: \&quot;&quot; + {!var_landlordType} + &quot;\&quot;, \&quot;date\&quot;: \&quot;&quot; + {!fla_dateFormat} + &quot;\&quot;, \&quot;reason\&quot;: \&quot;&quot; + {!fla_AdditionalOrPreSetreason} + &quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetter</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;full name\&quot;: \&quot;&quot; + SUBSTITUTE({!Get_Exemption.Account__r.FirstName}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;) + &quot; &quot; + SUBSTITUTE({!Get_Exemption.Account__r.LastName}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;) + &quot;\&quot;, \&quot;type\&quot;: \&quot;&quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} +  &quot;\&quot;, \&quot;reference number\&quot;: \&quot;&quot; + {!Get_Exemption.Ref_Number__c} + &quot;\&quot;, \&quot;address\&quot;: \&quot;&quot; + {!Get_Exemption.PropertyAddress__c} + &quot;, &quot; + {!Get_Exemption.PropertyPostcode__c} + &quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>RemoveTrailingSeparatorLabels</name>
        <dataType>String</dataType>
        <expression>LEFT({!ConcatenatedChildExemptionLabels}, LEN({!ConcatenatedChildExemptionLabels}) - 1)</expression>
    </formulas>
    <formulas>
        <name>RemoveTrailingSeperatorRefs</name>
        <dataType>String</dataType>
        <expression>LEFT({!ConcatenatedChildExemptionRefs}, LEN({!ConcatenatedChildExemptionRefs}) - 1)</expression>
    </formulas>
    <formulas>
        <name>Select_Exemption_Type_Label</name>
        <dataType>String</dataType>
        <expression>&quot;End an exemption for &quot; + {!Get_Exemption.PropertyAddress__c} + &quot;, &quot; + {!Get_Exemption.PropertyPostcode__c}</expression>
    </formulas>
    <formulas>
        <name>StoreAddressBeforeDeletion</name>
        <dataType>String</dataType>
        <expression>&quot;Your exemption &quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} + &quot; &quot; + {!Get_Selected_Exemption_Type.Exemption_Type_Code__c} + &quot; for &quot; + {!Get_Selected_Exemption_Type.Exemption__r.PropertyAddress__c} + &quot;, &quot; + {!Get_Selected_Exemption_Type.Exemption__r.PropertyPostcode__c} + &quot; has been ended&quot;</expression>
    </formulas>
    <formulas>
        <name>Sub_Text_For_Selected_Exemption_Type</name>
        <dataType>String</dataType>
        <expression>{!Dashboard_Redirect.redirectUrl}</expression>
    </formulas>
    <formulas>
        <name>WhyEndingExemptionSubText</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;p style= {color: black}&quot; + &quot;&lt;p&gt;&quot; + &quot; You are ending exemption: &quot; + &quot;&lt;b&gt;&quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} + &quot; &quot; + {!Get_Selected_Exemption_Type.Exemption_Type_Code__c} + &quot;&lt;/b&gt;&quot;+ &quot; for the property &quot; + &quot;&lt;b&gt;&quot; + {!Get_Selected_Exemption_Type.Exemption__r.PropertyAddress__c} + &quot;, &quot; + {!Get_Selected_Exemption_Type.Exemption__r.PropertyPostcode__c} + &quot;&lt;/b&gt; &lt;/p&gt;&quot;</expression>
    </formulas>
    <interviewLabel>PRSE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE End Exemption</label>
    <loops>
        <name>Count_Child_Exemption_Records</name>
        <label>Count Child Exemption Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Child_Exemptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Child_Exemption_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Single_or_Multiple_Exemption_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Child_Exemptions</name>
        <label>Loop through Child Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Child_Exemptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Separator_to</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_trailing_separator</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Exemptions</name>
        <label>Get Child Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Child_Exemption_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Exemption.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exemption</name>
        <label>Get Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_user_end_exemption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PassedExemption</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Exemption_Type</name>
        <label>Get Selected Child Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Why_you_are_ending_exemption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Exemption_Ref__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedChildExemptionRef</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Child_Exemption</name>
        <label>Get Single Child Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Child_Exemption_Reference_Single</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Exemption.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Account</name>
        <label>Get User Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Landlord_type_to_string</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>End_Exemption</name>
        <label>End Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Personalisation_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Exemption_Type.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_End_Reason__c</field>
            <value>
                <elementReference>Further_Explain_Why_Ending_Exemption_TextArea.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Reason__c</field>
            <value>
                <elementReference>Why_you_are_ending_exemption_select.value</elementReference>
            </value>
        </inputAssignments>
        <object>Exemption_Type_Link__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm_End_Exemption</name>
        <label>Confirm End Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_Or_Return_To_Dashboard</targetReference>
        </connector>
        <fields>
            <name>Confirm_End_Exemption_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Confirm End Exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Confirm End Exemption</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_End_Exemption_Back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_End_Exemption_Markup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;span class=&quot;govuk-caption-l&quot;&gt;{!Exemption_Ref_Number_Formatted}&lt;/span&gt;
&lt;title class=&quot;govuk-heading-l&quot;&gt;Are you sure you want to end this exemption?&lt;/title&gt;
&lt;p class=&quot;govuk-body&quot;&gt;You are ending exemption &lt;b&gt;{!Get_Selected_Exemption_Type.Exemption_Type__r.Name} {!Get_Selected_Exemption_Type.Exemption_Type_Code__c}&lt;/b&gt; for the property &lt;b&gt;{!Get_Selected_Exemption_Type.Exemption__r.PropertyAddress__c}, {!Get_Selected_Exemption_Type.Exemption__r.PropertyPostcode__c}&lt;/b&gt;&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_End_Exemption_Buttons</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>WARNING,link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>End exemption,Return to dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next,Dashboard~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exemption_End_Confirmation</name>
        <label>Exemption End Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Return_to_Dashboard</targetReference>
        </connector>
        <fields>
            <name>Exemption_End_Confirmation_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Exemption End Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Exemption End Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Exemption_End_Confirmation_Panel</name>
            <extensionName>uxgovuk:govPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Exemption ended</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bodyText</name>
                <value>
                    <elementReference>AddressBeforeDeletion</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Exemption_End_Confirmation_Markup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;p class=&apos;govuk-body&apos;&gt;Exemption reference number: {!SelectedChildExemptionRef}&lt;/p&gt;
&lt;p class=&apos;govuk-body&apos;&gt;You should receive a confirmation email within 72 hours.&lt;/p&gt;
&lt;p class=&apos;govuk-body&apos;&gt;Your exemption will now show in the ended section of your dashboard&lt;/p&gt;
&lt;h2 class=&apos;govuk-heading-m&apos;&gt;Letting your property&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;If you want to continue letting this property you will need to either:&lt;/p&gt;
&lt;ul class = &apos;govuk-list govuk-list--bullet&apos;&gt;
        &lt;li&gt;raise the energy performance certificate to Band E or above, or&lt;/li&gt;
        &lt;li&gt;register another exemption&lt;/li&gt;
    &lt;/ul&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Exemption_End_Confirmation_Nav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Return to dashboard</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Further_Explain_Why_Ending_Exemption</name>
        <label>Further Explain Why Ending Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Continue_Or_Return_To_Dashboard</targetReference>
        </connector>
        <fields>
            <name>Further_Explain_Why_Ending_Exemption_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Further Explain Why Ending Exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Further Explain Why Ending Exemption</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Further_Explain_Why_Ending_Exemption_Back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Further_Explain_Why_Ending_Exemption_TextArea</name>
            <extensionName>c:gdsTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCharacterCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Explain why you are ending this exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hint</name>
                <value>
                    <elementReference>WhyEndingExemptionSubText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caption</name>
                <value>
                    <elementReference>Exemption_Ref_Number_Formatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintStyling</name>
                <value>
                    <stringValue>Subtitle small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Further_Explain_Why_Ending_Exemption_Nav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next,Dashboard~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue,Return to dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Return_to_Dashboard</name>
        <label>Return to Dashboard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dashboard_Redirect</name>
            <extensionName>c:navigateFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>dashboard</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Exemption_Type_to_end</name>
        <label>Select Exemption Type to end</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Exemption_Type_End_Continue_Or_Return_To_Dashboard</targetReference>
        </connector>
        <fields>
            <name>Select_Exemption_Type_to_end_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Select_Exemption_Type_to_end_History</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Select Exemption type to end</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Exemption_Type_to_end_Back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>destinationPageName</name>
                <value>
                    <stringValue>RegisteredExemptions__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Exemption_Type_to_end_Errors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Exemption_Type_to_end_Radio</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <elementReference>Select_Exemption_Type_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <elementReference>ConcatenatedChildExemptionLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <elementReference>ConcatenatedChildExemptionRefs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caption</name>
                <value>
                    <elementReference>Exemption_Ref_Number_Formatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select the exemption you want to end</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Exemption_Type_to_end_Navigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue, Return to dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next,Dashboard~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Why_you_are_ending_exemption</name>
        <label>Why you are ending exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_Or_Return_To_Dashboard_Why_Ending_Exemption</targetReference>
        </connector>
        <fields>
            <name>Why_you_are_ending_exemption_history</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Why you are ending exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Why you are ending exemption</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Why_you_are_ending_exemption_back_url</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>destinationPageName</name>
                <value>
                    <stringValue>RegisteredExemptions__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChildExemptionCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Why_you_are_ending_exemption_back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChildExemptionCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Why_you_are_ending_exemption_errors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Why_you_are_ending_exemption_select</name>
            <extensionName>c:gdsSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select why you are ending this exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <elementReference>WhyEndingExemptionSubText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tell us why you are ending this exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caption</name>
                <value>
                    <elementReference>Exemption_Ref_Number_Formatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklist</name>
                <value>
                    <elementReference>ReasonsToEndFieldName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Why_you_are_ending_exemption_navigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next,Dashboard~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue,Return to dashboard</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Exemption</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressBeforeDeletion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildExemptionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ConcatenatedChildExemptionLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConcatenatedChildExemptionRefs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LAMailbox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LAPersonalisationJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PassedExemption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonalisationJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReasonsToEndFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Exemption_Type_Link__c.End_Reason__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>Select_Exemption_Radio_Hint_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Select_Exemption_Radio_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedChildExemptionRef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedChildExemptionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_landlordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
