force-app/main/default/flows/PRSE_UserDetailsChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetAddressesByPostcode</name>
        <label>Get Addresses By Postcode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_AddressRetrievalAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddressSelection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>postCodes</name>
            <value>
                <elementReference>EnteredPostcode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_AddressRetrievalAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ReturnedAddresses</assignToReference>
            <name>addresses</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DeliveryPointAddresses</assignToReference>
            <name>deliveryPointAddresses</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NumberOfAddressesReturned</assignToReference>
            <name>numberOfAddresses</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetCountriesFromGlobalValueSet</name>
        <label>Get Countries From Global Value Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_RetrieveCountriesAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddressManualInput</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>PRSE_RetrieveCountriesAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUserAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateBusinessDetailsIfBusiness</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountDetails</name>
        <label>Assign Account Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Account.BusinessName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetailsBusinessName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Account.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetailsFirstName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Account.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetailsLastName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetailsEmailConfirmation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDetailsPhoneNumber.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmptyUpdatedUserDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptyUpdatedUserDetails</name>
        <label>Empty Updated User Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsKeys</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsValues</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsPages</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>PopulateUpdatedBusinessDetailsIfBusiness</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateBusinessSummaryDetails</name>
        <label>Populate Business Summary Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_UserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Organisation or Business Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetUserAccount.BusinessName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateSummaryCollections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateSummaryCollections</name>
        <label>Populate Summary Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_UserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>First name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Last name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Telephone number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcd_Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcd_Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcd_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcd_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_UserAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeAddress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangeDetailsSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateUpdatedBusinessSummaryDetails</name>
        <label>Populate Updated Business Summary Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Organisation or Business Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserDetailsBusinessName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateUpdatedDetailsSummaryCollections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateUpdatedDetailsSummaryCollections</name>
        <label>Populate Updated Details Summary Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>First name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Last name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsKeys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Telephone number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserDetailsFirstName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserDetailsLastName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserDetailsEmailConfirmation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserDetailsPhoneNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_UpdatedUserDetailsPages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ChangeDetails</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDetailsSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDeliveryAddressToFilteredAddress</name>
        <label>Set Delivery Address to Filtered Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FilteredDeliveryPointAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverFilteredAddresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverFilteredAddresses</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>DeliveryPointAddressesFilter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Delivery Point Addresses Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_DeliveryPointAddressesFilter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>DeliveryPointAddresses</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DeliveryPointAddressesFilter.ADDRESS</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>SelectedAddress</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>LoopOverFilteredAddresses</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>ChangePersonalDetailsOrAddress</name>
        <label>Change Personal Details Or Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChangeContactDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeDetailsSummaryTable.destination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChangeDetails</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndividualDetails</targetReference>
            </connector>
            <label>Change Contact Details</label>
        </rules>
        <rules>
            <name>ChangeAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeDetailsSummaryTable.destination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChangeAddress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserAddress</targetReference>
            </connector>
            <label>Change Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConfirmationOrManualInput</name>
        <label>Confirmation Or Manual Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fla_AddressGoToPage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONFIRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddressConfirmation</targetReference>
            </connector>
            <label>Confirm</label>
        </rules>
        <rules>
            <name>AddressSelectionManualInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fla_AddressGoToPage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MANUALINPUT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetCountriesFromGlobalValueSet</targetReference>
            </connector>
            <label>Address Selection Manual Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConfirmOrUseDifferentOrEnterManually</name>
        <label>Confirm Or Use Different Or Enter Manually</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddressConfirmationNext</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressConfirmationNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEXT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeliveryPointAddressesFilter</targetReference>
            </connector>
            <label>Confirm</label>
        </rules>
        <rules>
            <name>AddressConfirmationPostcodeInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressConfirmationNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POSTCODE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>UserAddress</targetReference>
            </connector>
            <label>Postcode Input</label>
        </rules>
        <rules>
            <name>AddressConfirmationManualInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressConfirmationNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MANUALINPUT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetCountriesFromGlobalValueSet</targetReference>
            </connector>
            <label>Manual Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>NavigateToChangeContactDetails</name>
        <label>Navigate To Change Contact Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ConfirmAndSave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckDetailsSummaryNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEXT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccountInformation</targetReference>
            </connector>
            <label>Confirm And Save</label>
        </rules>
        <rules>
            <name>ShouldNavigateToChangeContactDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckDetailsSummaryTable.destination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChangeDetails</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>IndividualDetails</targetReference>
            </connector>
            <label>Change Contact Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>PopulateBusinessDetailsIfBusiness</name>
        <label>Populate Business Details If Business</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>PopulateSummaryCollections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PopulateDetailsAsBusiness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserAccount.BusinessName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUserAccount.BusinessName__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulateBusinessSummaryDetails</targetReference>
            </connector>
            <label>Populate Details As Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>PopulateUpdatedBusinessDetailsIfBusiness</name>
        <label>Populate Updated Business Details If Business</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>PopulateUpdatedDetailsSummaryCollections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PopulateUpdatedDetailsAsBusiness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcd_Account.BusinessName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rcd_Account.BusinessName__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulateUpdatedBusinessSummaryDetails</targetReference>
            </connector>
            <label>Populate Updated Details As Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>PostcodeOrManualInput</name>
        <label>Postcode Or Manual Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Postcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserAddressNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POSTCODE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAddressesByPostcode</targetReference>
            </connector>
            <label>Postcode</label>
        </rules>
        <rules>
            <name>ManualInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserAddressNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MANUALINPUT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCountriesFromGlobalValueSet</targetReference>
            </connector>
            <label>Manual Input</label>
        </rules>
    </decisions>
    <description>A flow that allows users to change details and address information for their own accounts.</description>
    <environments>Default</environments>
    <formulas>
        <name>AddressesAvailableText</name>
        <dataType>String</dataType>
        <expression>IF({!NumberOfAddressesReturned} == 1, &quot;1 address found for &quot; &amp; {!EnteredPostcode}, TEXT({!NumberOfAddressesReturned}) &amp; &quot; addresses found for &quot; &amp; {!EnteredPostcode})</expression>
    </formulas>
    <formulas>
        <name>AddressLines</name>
        <dataType>String</dataType>
        <expression>{!AddressManualInputLine1.value} &amp; IF(ISBLANK( {!AddressManualInputLine2.value}), &quot;&quot;, &quot;, &quot; &amp; {!AddressManualInputLine2.value})</expression>
    </formulas>
    <formulas>
        <name>CompoundAddress</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!FilteredDeliveryPointAddress.ORGANISATION_NAME}), &quot;&quot;, {!FilteredDeliveryPointAddress.ORGANISATION_NAME} &amp; &quot;, &quot;) &amp; 
IF(ISBLANK({!FilteredDeliveryPointAddress.SUB_BUILDING_NAME}), &quot;&quot;, {!FilteredDeliveryPointAddress.SUB_BUILDING_NAME} &amp; &quot;, &quot;) &amp; IF(ISBLANK({!FilteredDeliveryPointAddress.BUILDING_NAME}), &quot;&quot;, {!FilteredDeliveryPointAddress.BUILDING_NAME} &amp; &quot;, &quot;) &amp; IF(ISBLANK({!FilteredDeliveryPointAddress.BUILDING_NUMBER}), &quot;&quot;, TEXT({!FilteredDeliveryPointAddress.BUILDING_NUMBER}) &amp; &quot;, &quot;) &amp; IF(ISBLANK({!FilteredDeliveryPointAddress.THOROUGHFARE_NAME}), &quot;&quot;,  {!FilteredDeliveryPointAddress.THOROUGHFARE_NAME})</expression>
    </formulas>
    <formulas>
        <name>FilteredCountry</name>
        <dataType>String</dataType>
        <expression>CASE({!FilteredDeliveryPointAddress.COUNTRY_CODE}, &quot;E&quot;, &quot;England&quot;, &quot;W&quot;, &quot;Wales&quot;, &quot;S&quot;, &quot;Scotland&quot;, &quot;N&quot;, &quot;Northern Ireland&quot;, &quot;L&quot;, &quot;Channel Islands&quot;, &quot;M&quot;, &quot;Isle of Man&quot;, &quot;J&quot;, &quot;United Kingdom&quot;, &quot;United Kingdom&quot;)</expression>
    </formulas>
    <formulas>
        <name>fla_AddressGoToPage</name>
        <dataType>String</dataType>
        <expression>IF({!NumberOfAddressesReturned} == 0, {!AddressSelectionNavigation2.action}, {!AddressSelectionNavigation.action})</expression>
    </formulas>
    <formulas>
        <name>fla_UserAddress</name>
        <dataType>String</dataType>
        <expression>{!rcd_Account.PersonMailingStreet} + &quot;, &quot;+ {!rcd_Account.PersonMailingPostalCode}</expression>
    </formulas>
    <interviewLabel>PRSE_UserDetailsChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE User Details Change</label>
    <loops>
        <name>LoopOverFilteredAddresses</name>
        <label>Loop Over Filtered Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>DeliveryPointAddressesFilter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetDeliveryAddressToFilteredAddress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccountAddressFromOSPlaces</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Contact</name>
        <label>Get User Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserAccount</name>
        <label>Get User Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccountAddressFromOSPlaces</name>
        <label>Update Account Address From OSPlaces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactDetailsUpdated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcd_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>FilteredDeliveryPointAddress.POST_TOWN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>FilteredDeliveryPointAddress.POSTCODE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>CompoundAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountInformation</name>
        <label>Update Account Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactDetailsUpdated</targetReference>
        </connector>
        <inputReference>rcd_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountWithManualAddressInput</name>
        <label>Update Account With Manual Address Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactDetailsUpdated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcd_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>AddressManualInputTown.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>AddressManualInputCountry.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>AddressManualInputPostcode.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>AddressManualInputCounty.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>AddressLines</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>AddressConfirmation</name>
        <label>Address Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConfirmOrUseDifferentOrEnterManually</targetReference>
        </connector>
        <fields>
            <name>AddressConfirmationHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>AddressConfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Address confirmation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Confirm address&lt;/h1&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationInset</name>
            <extensionName>uxgovuk:govInsetText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>insetText</name>
                <value>
                    <elementReference>SelectedAddress</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next,Postcode,ManualInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Use this address,Use a different address,Enter address manually</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddressManualInput</name>
        <label>Address Manual Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateAccountWithManualAddressInput</targetReference>
        </connector>
        <fields>
            <name>AddressManualInputHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>AddressManualInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Address manual input</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Enter address manually&lt;/h1&gt;  </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputLine1</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputLine1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address line 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-line1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.PersonMailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputLine2</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputLine2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address line 2 (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-line2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputTown</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputTown</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a town or city</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Town or city</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-level2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.PersonMailingCity</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputCounty</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputCounty</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>County (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-level1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.PersonMailingState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputPostcode</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputPostcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a postcode in the correct format, like PO12 6NT  </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>postal-code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputCountry</name>
            <extensionName>c:gdsSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select a country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>GetCountriesFromGlobalValueSet.concatenatedCountries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>GetCountriesFromGlobalValueSet.concatenatedCountries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputCountry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueAPIName</name>
                <value>
                    <elementReference>rcd_Account.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Use this address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddressSelection</name>
        <label>Address Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConfirmationOrManualInput</targetReference>
        </connector>
        <fields>
            <name>AddressSelectionsHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>AddressSelection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Address selection</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressSelectionBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressSelectionErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressSelectionText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;p class=&apos;govuk-body&apos;&gt;{!AddressesAvailableText}&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfAddressesReturned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressSelectionField</name>
            <extensionName>c:gdsSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressSelectionField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select an address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>ReturnedAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>ReturnedAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <elementReference>AddressesAvailableText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAddress</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfAddressesReturned</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressSelectionNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Confirm,ManualInput~SKIP,Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Use this address,Enter address manually,Search again</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfAddressesReturned</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressSelectionNavigation2</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>ManualInput~SKIP,Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Enter address manually,Search again</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfAddressesReturned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChangeDetailsSummary</name>
        <label>Change Details Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChangePersonalDetailsOrAddress</targetReference>
        </connector>
        <fields>
            <name>ChangeDetailsSummaryHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>DetailsSummary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Details summary</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ChangeDetailsSummaryBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationPageName</name>
                <value>
                    <stringValue>Dashboard__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ChangeDetailsSummaryErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ChangeDetailsSummaryText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Change your contact details&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;These are the details that we may use to communicate with you.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ChangeDetailsSummaryTable</name>
            <extensionName>c:gdsSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confirmationDestinations</name>
                <value>
                    <elementReference>col_UserDetailsPages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>col_UserDetailsKeys</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>col_UserDetailsValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeTopSeparator</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CheckDetailsSummary</name>
        <label>Check Details Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NavigateToChangeContactDetails</targetReference>
        </connector>
        <fields>
            <name>CheckDetailsSummaryHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>CheckDetailsSummary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Check details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CheckDetailsSummaryBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CheckDetailsSummaryErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CheckDetailsSummaryText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Check your contact details&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;These are the details that we may use to communicate with you.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CheckDetailsSummaryTable</name>
            <extensionName>c:gdsSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confirmationDestinations</name>
                <value>
                    <elementReference>col_UpdatedUserDetailsPages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>col_UpdatedUserDetailsKeys</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>col_UpdatedUserDetailsValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeTopSeparator</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CheckDetailsSummaryNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Confirm and save</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContactDetailsUpdated</name>
        <label>Contact Details Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NavigateToDashboardPage</targetReference>
        </connector>
        <fields>
            <name>ContactDetailsUpdatedHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>ContactDetailsUpdated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Contact details updated</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactDetailsUpdatedPanel</name>
            <extensionName>uxgovuk:govPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Your updated contact details have been saved</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactDetailsUpdatedNavigation</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Return to dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IndividualDetails</name>
        <label>Individual Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignAccountDetails</targetReference>
        </connector>
        <fields>
            <name>UserDetailsHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>UserDetails</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>User details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetailsBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetailsErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetailsText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Your contact details&lt;/h1&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetailsBusinessName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>UserDetailsBusinessName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an organisation or business name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>organization</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Organisation or business name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>255.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.BusinessName__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>rcd_Account.BusinessName__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UserDetailsFirstName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>UserDetailsFirstName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>First name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>given-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a first name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetailsLastName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>UserDetailsLastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>family-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.LastName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetailsEmail</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>UserDetailsEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an email address in the correct format, like name@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.PersonEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetailsEmailConfirmation</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>UserDetailsEmailConfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a valid email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm your email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainstErrorMessage</name>
                <value>
                    <stringValue>Email addresses don&apos;t match</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainst</name>
                <value>
                    <elementReference>UserDetailsEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.PersonEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetailsPhoneNumber</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>UserDetailsPhoneNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Telephone number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>tel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[+()0-9](?:[\d\s\-()]*[0-9)])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a phone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>You may be contacted on this number.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.Phone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserDetailsNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Save and continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NavigateToDashboardPage</name>
        <label>Navigate To Dashboard Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowFinishNavigation</name>
            <extensionName>c:navigateFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>PRSExemptionsRegister/dashboard</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UserAddress</name>
        <label>User Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PostcodeOrManualInput</targetReference>
        </connector>
        <fields>
            <name>UserAddressHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>UserAddress</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>User address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserAddressBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserAddressErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserAddressText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Your address&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;If your address is outside the UK, please enter it manually.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserAddressPostcode</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>UserAddressPostcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Postcode is not in a correct format</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>For example, AA3 1AB</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^(([Gg][Ii][Rr]\s?0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9]?[A-Za-z]))))\s?[0-9][A-Za-z]{2}))$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>postal-code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcd_Account.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredPostcode</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>UserAddressNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Postcode,ManualInput~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Find address,Enter address manually</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AddressesToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_UpdatedUserDetailsKeys</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_UpdatedUserDetailsPages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_UpdatedUserDetailsValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_UserDetailsKeys</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_UserDetailsPages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_UserDetailsValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_DeliveryPointAddressesFilter</name>
        <apexClass>DeliveryPointAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryPointAddresses</name>
        <apexClass>DeliveryPointAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnterAddressManually</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EnteredPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilteredDeliveryPointAddress</name>
        <apexClass>DeliveryPointAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfAddressesReturned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>rcd_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ReturnedAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
