force-app/main/default/flows/PRSE_Experience_Site_Base_URL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Site_Base_URL</name>
        <label>Assign Site Base URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>siteBaseURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>siteBaseURL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>siteDomainName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>siteBaseURL</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/PRSExemptionsRegister/</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>PRSE Experience Site Base URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Experience Site Base URL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Experience_Site_Base_URL</name>
        <label>Get Experience Site Base URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Site_Base_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Domain</field>
            <operator>Contains</operator>
            <value>
                <stringValue>site.com</stringValue>
            </value>
        </filters>
        <object>Domain</object>
        <outputAssignments>
            <assignToReference>siteDomainName</assignToReference>
            <field>Domain</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Experience_Site_Base_URL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>siteBaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>siteDomainName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
