force-app/main/default/flows/PRSE_Delete_Exemption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Save_Address_for_Confirmation_Screen</name>
        <label>Save Address for Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Stored_Deletion_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deletion_Message_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Selected_Exemption</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Delete_Exemption_or_Return_to_Dashboard</name>
        <label>Delete Exemption or Return to Dashboard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ReturnDashboard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Exemption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteExemptionConfirmationButtons.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEXT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Address_for_Confirmation_Screen</targetReference>
            </connector>
            <label>Delete Exemption</label>
        </rules>
        <rules>
            <name>Return_to_Dashboard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteExemptionConfirmationButtons.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DASHBOARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReturnDashboard</targetReference>
            </connector>
            <label>Return to Dashboard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Own_Exemption</name>
        <label>Does User Own Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ReturnDashboard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Owns_Exemption_and_is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.Owner:User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Exemption.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Exemption_Confirmation</targetReference>
            </connector>
            <label>User Owns Exemption and is Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Deletion_Message_Formula</name>
        <dataType>String</dataType>
        <expression>&quot;Your draft exemption&quot; + {!fla_FullAddress} + &quot; has been deleted&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_FullAddress</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Exemption.PropertyAddress__c})||ISBLANK({!Get_Exemption.PropertyPostcode__c}),null,&quot; for &quot; + {!Get_Exemption.PropertyAddress__c} + &quot;, &quot; + {!Get_Exemption.PropertyPostcode__c})</expression>
    </formulas>
    <interviewLabel>PRSE Delete E {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Delete Exemption</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Selected_Exemption</name>
        <label>Delete Selected Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Exemption_Deletion_Confirmation</targetReference>
        </connector>
        <inputReference>Get_Exemption</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Exemption</name>
        <label>Get Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Own_Exemption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PassedExemptionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Delete_Exemption_Confirmation</name>
        <label>Delete Exemption Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Exemption_or_Return_to_Dashboard</targetReference>
        </connector>
        <fields>
            <name>DeleteExemptionConfirmationHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>DeleteExemptionConfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Delete Exemption Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DeleteExemptionConfirmationText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l govuk-!-text-break-word&apos;&gt;
      Are you sure you want to delete your draft exemption{!fla_FullAddress}?
  &lt;/h1&gt;
&lt;p class=&quot;govuk-hint&quot;&gt;You will not be able to retrieve this once it is deleted&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DeleteExemptionConfirmationButtons</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Delete,Return to dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next,Dashboard~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exemption_Deletion_Confirmation</name>
        <label>Exemption Deletion Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ReturnDashboard</targetReference>
        </connector>
        <fields>
            <name>Exemption_Deletion_Confirmation_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Exemption Deletion Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Exemption Deletion Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Exemption_Deletion_Confirmation_Panel</name>
            <extensionName>uxgovuk:govPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Draft exemption deleted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bodyText</name>
                <value>
                    <elementReference>Stored_Deletion_Message</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Exemption_Deletion_Confirmation_Markup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;p class=&apos;govuk-body&apos;&gt;If you want to register a different exemption for this property, you can do so from the dashboard.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Exemption_Deletion_Confirmation_Button</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Return to Dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReturnDashboard</name>
        <label>Return to Dashboard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReturnNavigation</name>
            <extensionName>c:navigateFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>dashboard</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Exemption</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PassedExemptionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stored_Deletion_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
