force-app/main/default/flows/PRSE_View_Ended_Exemption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_EPC_Info_for_Summary_for_File_Upload</name>
        <label>Assign EPC Info for Summary for File Upload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_PropertyDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Existing_Exemption_EPC_Certificate.ContentDocument.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Exemptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EPC_Info_for_Summary_no_File_Upload</name>
        <label>Assign EPC Info for Summary no File Upload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_PropertyDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Registered_Exemption.EPC_Band__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PropertyDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Energy Performance Certificate (EPC) date of certificate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PropertyDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryEPCDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Exemptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exemption_Summary_Additional_Information</name>
        <label>Assign Exemption Summary Additional Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_ExemptionDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Any other information (optional)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ExemptionDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Registered_Exemption.AdditionalInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_LandlordDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryLandlordDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>View_Ended_Exemption</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Titles</name>
        <label>Assign Summary Titles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_AgentDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Agent contact details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_AgentDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Agent address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_LandlordDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Is the landlord a business or organisation, or a person?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_LandlordDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Landlord&apos;s details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_LandlordDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Landlord&apos;s address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PropertyDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Property address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PropertyDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>What type of property are you registering an exemption for?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PropertyDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Energy Performance Certificate (EPC)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_RegistrationDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Reference</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_RegistrationDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_RegistrationDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date ended</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Summary_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Values</name>
        <label>Assign Summary Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_AgentDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryAgentDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_AgentDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryPersonalAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_LandlordDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryLandlordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_LandlordDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryLandlordDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_LandlordDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryPersonalAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PropertyDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryPropertyAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_PropertyDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Registered_Exemption.PropertyType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_RegistrationDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Child_Exemption.Child_Exemption_Ref__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_RegistrationDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryRegisteredDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_RegistrationDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryEndedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_EPC_info_is_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_which_exemption_applies</name>
        <label>Assign which exemption applies</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_ExemptionDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Which exemption type applies to this exemption</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ExemptionDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Child_Exemption.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Specific_Evidence_for_Child_Exemption</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_Child_Exemption_Columns_and_Values</name>
        <label>Concatenate Child Exemption Columns and Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_ExemptionDetailsValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryExemptionEvidenceFormatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SummaryExemptionEvidence</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ExemptionDetailsColumn</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_SummaryExemptionEvidenceName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Exemption_Summary_Additional_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_Evidence_Per_Exemption</name>
        <label>Concatenate Evidence Per Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SummaryExemptionEvidence</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Uploaded_Evidence.ContentDocument.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SummaryExemptionEvidence</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Uploaded_Evidence</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Specific_Evidence_for_Child_Exemption</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Specific Evidence for Child Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_Specific_Evidence_for_Child_Exemption</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Child_Exemption_Evidence</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Specific_Evidence_for_Child_Exemption.LinkedEntityId</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Get_Child_Exemption.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Through_Uploaded_Evidence</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_EPC_info_is_populated</name>
        <label>Check if EPC info is populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_EPC_Info_for_Summary_no_File_Upload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Query_EPC_File</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Registered_Exemption.EPC_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registered_Exemption.EPC_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Registered_Exemption.EPC_Date__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Exemption_EPC_Certificate</targetReference>
            </connector>
            <label>Query EPC File</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_user_own_Exemption</name>
        <label>Does user own Exemption?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Owns_Exemption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Registered_Exemption.Owner:User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Summary_Titles</targetReference>
            </connector>
            <label>User Owns Exemption</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fla_PageTitle</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Registered_Exemption.Status__c}, &quot;Ended&quot;),&quot;Ended exemption for&quot;,&quot;Registered exemption for&quot;)</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryAgentDetails</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!Get_Registered_Exemption.Account__r.BusinessName__c})),
  {!Get_Registered_Exemption.Account__r.BusinessName__c} + BR(),
  &quot;&quot;
) + 
{!Get_Registered_Exemption.Account__r.FirstName} + &quot; &quot; + 
{!Get_Registered_Exemption.Account__r.LastName} + BR() + 
{!Get_Registered_Exemption.Account__r.PersonEmail} + BR() + 
{!Get_Registered_Exemption.Account__r.Phone}</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryEndedDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!Get_Child_Exemption.End_Date__c}))) + &quot; &quot; + CASE(MONTH(DATEVALUE({!Get_Child_Exemption.End_Date__c})),1, &quot;January&quot;,2, &quot;February&quot;, 3, &quot;March&quot; ,4, &quot;April&quot; ,5, &quot;May&quot; ,6, &quot;June&quot; ,7, &quot;July&quot; ,8, &quot;August&quot; ,9, &quot;September&quot; ,10, &quot;October&quot; ,11, &quot;November&quot; ,&quot;December&quot;) + &quot; &quot;+ TEXT(YEAR(DATEVALUE({!Get_Child_Exemption.End_Date__c})))</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryEPCDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!Get_Registered_Exemption.EPC_Date__c})) + &quot; &quot; + CASE(MONTH({!Get_Registered_Exemption.EPC_Date__c}),1, &quot;January&quot;,2, &quot;February&quot;, 3, &quot;March&quot; ,4, &quot;April&quot; ,5, &quot;May&quot; ,6, &quot;June&quot; ,7, &quot;July&quot; ,8, &quot;August&quot; ,9, &quot;September&quot; ,10, &quot;October&quot; ,11, &quot;November&quot; ,&quot;December&quot;) + &quot; &quot;+ TEXT(YEAR({!Get_Registered_Exemption.EPC_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryExemptionEvidenceFormatted</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(LEFT({!var_SummaryExemptionEvidence}, LEN({!var_SummaryExemptionEvidence}) - 1), &quot;|&quot;, BR())</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryExemptionEvidenceName</name>
        <dataType>String</dataType>
        <expression>&quot;Uploaded evidence for&quot; + BR() + {!Get_Child_Exemption.Name} + BR() +&quot; Exemption code: &quot; + {!Get_Child_Exemption.Exemption_Type_Code__c}</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryLandlordDetails</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Registered_Exemption.LandlordBusinessName__c}), {!Get_Registered_Exemption.LandlordFirstName__c} + &quot; &quot; + {!Get_Registered_Exemption.LandlordLastName__c}, {!Get_Registered_Exemption.LandlordBusinessName__c}) + BR() + {!Get_Registered_Exemption.LandlordEmail__c} + BR() + {!Get_Registered_Exemption.LandlordPhone__c}</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryLandlordType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Registered_Exemption.LandlordBusinessName__c}), &quot;Individual&quot;, &quot;Business&quot;)</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryPersonalAddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Registered_Exemption.LandlordAddress__c} + BR() + {!Get_Registered_Exemption.LandlordCity__c} + BR() + {!Get_Registered_Exemption.LandlordPostcode__c}</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryPropertyAddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Registered_Exemption.PropertyAddress__c} + BR() + {!Get_Registered_Exemption.PropertyCity__c} + BR() + {!Get_Registered_Exemption.PropertyPostcode__c}</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryRegisteredDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE({!Get_Registered_Exemption.Registered_Date__c}))) + &quot; &quot; + CASE(MONTH(DATEVALUE({!Get_Registered_Exemption.Registered_Date__c})),1, &quot;January&quot;,2, &quot;February&quot;, 3, &quot;March&quot; ,4, &quot;April&quot; ,5, &quot;May&quot; ,6, &quot;June&quot; ,7, &quot;July&quot; ,8, &quot;August&quot; ,9, &quot;September&quot; ,10, &quot;October&quot; ,11, &quot;November&quot; ,&quot;December&quot;) + &quot; &quot;+ TEXT(YEAR(DATEVALUE({!Get_Registered_Exemption.Registered_Date__c})))</expression>
    </formulas>
    <interviewLabel>PRSE View Ended Exemption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE View Ended Exemption</label>
    <loops>
        <name>Loop_Through_Uploaded_Evidence</name>
        <label>Loop Through Uploaded Evidence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Specific_Evidence_for_Child_Exemption</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concatenate_Evidence_Per_Exemption</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Concatenate_Child_Exemption_Columns_and_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Exemption</name>
        <label>Get Child Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Registered_Exemption</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Return_to_Dashboard</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Exemption_Evidence</name>
        <label>Get Child Exemption Evidence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_which_exemption_applies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Exemption_Type_Link_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Exemptions</name>
        <label>Get Child Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Exemption_Type_Link_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Registered_Exemption.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <sortField>Exemption_Type_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Exemption_EPC_Certificate</name>
        <label>Get Existing Exemption EPC Certificate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_EPC_Info_for_Summary_for_File_Upload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Registered_Exemption.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Registered_Exemption</name>
        <label>Get Ended Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_user_own_Exemption</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Return_to_Dashboard</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Child_Exemption.Exemption__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Return_to_Dashboard</name>
        <label>Return to Dashboard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReturnToDashboard</name>
            <extensionName>c:navigateFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>PRSExemptionsRegister/dashboard</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>View_Ended_Exemption</name>
        <label>View Ended Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Return_to_Dashboard</targetReference>
        </connector>
        <fields>
            <name>View_Registered_Exemption_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>View Ended Exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>View Ended Exemption</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>View_Registered_Exemption_Markup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Ended exemption for {!Get_Registered_Exemption.PropertyAddress__c}, {!Get_Registered_Exemption.PropertyPostcode__c}&lt;/h1&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>View_Registered_Exemption_RegistrationDetails</name>
            <extensionName>c:gdsSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>destination</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>col_RegistrationDetailsColumn</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>col_RegistrationDetailsValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Registration details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>View_Registered_Exemption_AgentDetails</name>
            <extensionName>c:gdsSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>col_AgentDetailsColumn</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>col_AgentDetailsValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destination</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Agent details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Registered_Exemption.Account__r.Landlord_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Agent</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>View_Registered_Exemption_LandlordDetails</name>
            <extensionName>c:gdsSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>col_LandlordDetailsColumn</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>col_LandlordDetailsValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destination</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Landlord details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>View_Registered_Exemption_PropertyDetails</name>
            <extensionName>c:gdsSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>col_PropertyDetailsColumn</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>col_PropertyDetailsValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destination</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Details of the property being registered for an exemption</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>View_Registered_Exemption_Details</name>
            <extensionName>c:gdsSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confirmationLabels</name>
                <value>
                    <elementReference>col_ExemptionDetailsColumn</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>confirmationValues</name>
                <value>
                    <elementReference>col_ExemptionDetailsValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destination</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Details of exemption</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>View_Registered_Exemption_Navigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Return to dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Exemption</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Get_Exemption_Type_Link_Ids</name>
        <label>Get Exemption Type Link Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Exemption_Evidence</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Exemptions[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>col_AgentDetailsColumn</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_AgentDetailsValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_ExemptionDetailsColumn</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_ExemptionDetailsValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_LandlordDetailsColumn</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_LandlordDetailsValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_PropertyDetailsColumn</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_PropertyDetailsValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_RegistrationDetailsColumn</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_RegistrationDetailsValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Specific_Evidence_for_Child_Exemption</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SummaryExemptionEvidence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
