force-app/main/default/flows/PRSE_Policy_End_Exemption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Fetch_Local_Authority_Accounts</name>
        <label>Fetch Local Authority Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_RetrieveLocalAuthorityAccountAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>What_is_Exemption_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>localCustodianCodes</name>
            <value>
                <elementReference>Get_Exemption.Local_Custodian_Code__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_RetrieveLocalAuthorityAccountAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_a_Local_Authority_Associated</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Get_Exemption.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>PersonalisationJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>4958bb4c-ff9f-4d1b-9ad1-81ae5ba101b8</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Confirmation_Letter</name>
        <label>Send Confirmation Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendLetterAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_a_Local_Authority_Associated</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>PersonalisationJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>0904d3e0-5325-4bae-895f-c365525e6bd0</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendLetterAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Confirmation_SMS</name>
        <label>Send Confirmation SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendSmsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_a_Local_Authority_Associated</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>PersonalisationJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Get_Exemption.Account__r.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>9ea39ac0-3a0c-4b82-be4b-aa9de0b7f739</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendSmsAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_LA_Confirmation_Email</name>
        <label>Send LA Confirmation Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Exemption_End_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>LAMailBox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>LAPersonalisationJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>b8b81b09-f614-45a6-b907-947a5f117e6d</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Separator_to</name>
        <label>Add Separator to Child Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_Exemptions.Exemption_Type__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_Exemptions.Exemption_Type_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_to_Child_Exemption_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Separator_to_Child_Exemption_Values</name>
        <label>Add Separator to Child Exemption Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionRefs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_Exemptions.Child_Exemption_Ref__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionRefs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Exemptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Child_Exemption_Count</name>
        <label>Add to Child Exemption Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChildExemptionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Child_Exemption_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Domestic_LA_Email</name>
        <label>Assign Domestic LA Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LAMailBox</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Local_Authority_Accounts.DomesticNotificationsMailbox__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_LA_Confirmation_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Domestic_LA_Email</name>
        <label>Assign Non Domestic LA Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LAMailBox</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Local_Authority_Accounts.NonDomesticNotificationsMailbox__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_LA_Confirmation_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_trailing_separator</name>
        <label>Remove trailing separator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveTrailingSeparatorLabels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionRefs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveTrailingSeperatorRefs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Exemption_Type_to_end</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Concatenated_Exemption_Types</name>
        <label>Reset Concatenated Exemption Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConcatenatedChildExemptionLabels</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Exemptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Exemption_Reference_Multi</name>
        <label>Set Child Exemption Reference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedChildExemptionRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Exemption_Type_to_end_Radio.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Exemption_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Exemption_Reference_Single</name>
        <label>Set Child Exemption Reference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedChildExemptionRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Child_Exemption.Child_Exemption_Ref__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Exemption_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Personalisation_JSON_Email</name>
        <label>Set Personalisation JSON Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PersonalisationJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_JSONSetterEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAPersonalisationJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_LAJSONSetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Personalisation_JSON_Letter</name>
        <label>Set Personalisation JSON Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PersonalisationJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_JSONSetterLetter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAPersonalisationJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_LAJSONSetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Confirmation_Letter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Personalisation_JSON_Text</name>
        <label>Set Personalisation JSON Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PersonalisationJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_JSONSetterSMS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LAPersonalisationJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_LAJSONSetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Confirmation_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Details_before_deletion</name>
        <label>Store Details before deletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddressBeforeDeletion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreAddressBeforeDeletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Exemption</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_a_Local_Authority_Associated</name>
        <label>Is a Local Authority Associated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Exemption_End_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Local_Authority_Associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.Local_Authority__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Local_Authority_Accounts</targetReference>
            </connector>
            <label>Local Authority Associated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Multiple_Exemption_Types</name>
        <label>Single or Multiple Exemption Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildExemptionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Child_Exemption</targetReference>
            </connector>
            <label>Single</label>
        </rules>
        <rules>
            <name>Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildExemptionCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Concatenated_Exemption_Types</targetReference>
            </connector>
            <label>Multiple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Other_selected</name>
        <label>Was &quot;Other&quot; selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Confirm_End_Exemption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_you_are_ending_exemption_select.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Further_Explain_Why_Ending_Exemption</targetReference>
            </connector>
            <label>Other was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_are_the_landlord_s_communication_preferences</name>
        <label>Landlord&apos;s communication preference</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Personalisation_JSON_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Personalisation_JSON_Email</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Personalisation_JSON_Text</targetReference>
            </connector>
            <label>Text</label>
        </rules>
        <rules>
            <name>Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Personalisation_JSON_Letter</targetReference>
            </connector>
            <label>Letter</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Exemption_Type</name>
        <label>What is Exemption Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Exemption_End_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No address available to send email</defaultConnectorLabel>
        <rules>
            <name>Domestic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.PropertyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Local_Authority_Accounts.DomesticNotificationsMailbox__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Domestic_LA_Email</targetReference>
            </connector>
            <label>Domestic</label>
        </rules>
        <rules>
            <name>NonDomestic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exemption.PropertyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Local_Authority_Accounts.NonDomesticNotificationsMailbox__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Non_Domestic_LA_Email</targetReference>
            </connector>
            <label>Non Domestic</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ReasonsToEndChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>End_Reason__c</picklistField>
        <picklistObject>Exemption_Type_Link__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Exemption_Ref_Number_Formatted</name>
        <dataType>String</dataType>
        <expression>&quot;Reference: &quot; + {!Get_Exemption.Ref_Number__c}</expression>
    </formulas>
    <formulas>
        <name>fla_AdditionalOrPreSetreason</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Further_Explain_Why_Ending_Exemption_TextArea.value}),
    {!Why_you_are_ending_exemption_select.value},
    SUBSTITUTE({!Further_Explain_Why_Ending_Exemption_TextArea.value}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fla_DateFormat</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY($Flow.CurrentDate)) &amp;
&quot; &quot; &amp;
CASE(
    MONTH($Flow.CurrentDate),
    1, &quot;January&quot;,
    2, &quot;February&quot;,
    3, &quot;March&quot;,
    4, &quot;April&quot;,
    5, &quot;May&quot;,
    6, &quot;June&quot;,
    7, &quot;July&quot;,
    8, &quot;August&quot;,
    9, &quot;September&quot;,
    10, &quot;October&quot;,
    11, &quot;November&quot;,
    12, &quot;December&quot;,
    &quot;&quot;
) &amp;
&quot; &quot; &amp;
TEXT(YEAR($Flow.CurrentDate))</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetterEmail</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;full name\&quot;: \&quot;&quot; + {!Get_Exemption.Account__r.FirstName} + &quot; &quot; + {!Get_Exemption.Account__r.LastName} + &quot;\&quot;, \&quot;type\&quot;: \&quot;&quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} +  &quot;\&quot;, \&quot;reference number\&quot;: \&quot;&quot; + {!Get_Exemption.Ref_Number__c} + &quot;\&quot;, \&quot;address\&quot;: \&quot;&quot; + {!Get_Exemption.PropertyAddress__c} + &quot;, &quot; + {!Get_Exemption.PropertyPostcode__c} + &quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetterLetter</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;address_line_1\&quot;: \&quot;&quot; + 
{!Get_Exemption.Account__r.FirstName} + 
&quot; &quot; + 
{!Get_Exemption.Account__r.LastName} + 
&quot;\&quot;, \&quot;address_line_2\&quot;: \&quot;&quot; + {!Get_Exemption.Account__r.PersonMailingStreet} + 
&quot;\&quot;, \&quot;address_line_3\&quot;: \&quot;&quot; + {!Get_Exemption.Account__r.PersonMailingCity} + 
&quot;\&quot;, \&quot;address_line_4\&quot;: \&quot;&quot; + {!Get_Exemption.Account__r.PersonMailingPostalCode} + 
&quot;\&quot;, \&quot;address_line_5\&quot;: \&quot;&quot; + {!Get_Exemption.Account__r.PersonMailingCountry} + 
&quot;\&quot;, \&quot;full name\&quot;: \&quot;&quot; + {!Get_Exemption.Account__r.FirstName} + &quot; &quot; + {!Get_Exemption.Account__r.LastName} + 
&quot;\&quot;, \&quot;address\&quot;: \&quot;&quot; + {!Get_Exemption.PropertyAddress__c} + &quot; &quot; + {!Get_Exemption.PropertyPostcode__c} + 
&quot;\&quot;, \&quot;type\&quot;: \&quot;&quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} + 
&quot;\&quot;, \&quot;date\&quot;: \&quot;&quot; + {!fla_DateFormat} + 
&quot;\&quot;, \&quot;reference_number\&quot;: \&quot;&quot; + {!Get_Exemption.Ref_Number__c} + 
&quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetterSMS</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;full name\&quot;: \&quot;&quot; + {!Get_Exemption.Account__r.FirstName} + &quot; &quot; + {!Get_Exemption.Account__r.LastName} + &quot;\&quot;, \&quot;type\&quot;: \&quot;&quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} +  &quot;\&quot;, \&quot;reference number\&quot;: \&quot;&quot; + {!Get_Exemption.Ref_Number__c} + &quot;\&quot;, \&quot;address\&quot;: \&quot;&quot; + {!Get_Exemption.PropertyAddress__c} + &quot;, &quot; + {!Get_Exemption.PropertyPostcode__c} + &quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_LAJSONSetter</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;type\&quot;: \&quot;&quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} +  &quot;\&quot;, \&quot;reference number\&quot;: \&quot;&quot; + {!Get_Exemption.Ref_Number__c} + &quot;\&quot;, \&quot;address\&quot;: \&quot;&quot; + {!Get_Exemption.PropertyAddress__c} + &quot;, &quot; + {!Get_Exemption.PropertyPostcode__c} + &quot;\&quot;, \&quot;user type\&quot;: \&quot;&quot; + &quot;policy user&quot; + &quot;\&quot;, \&quot;date\&quot;: \&quot;&quot; + {!fla_DateFormat} + &quot;\&quot;, \&quot;reason\&quot;: \&quot;&quot; + {!fla_AdditionalOrPreSetreason} + &quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>RemoveTrailingSeparatorLabels</name>
        <dataType>String</dataType>
        <expression>LEFT({!ConcatenatedChildExemptionLabels}, LEN({!ConcatenatedChildExemptionLabels}) - 1)</expression>
    </formulas>
    <formulas>
        <name>RemoveTrailingSeperatorRefs</name>
        <dataType>String</dataType>
        <expression>LEFT({!ConcatenatedChildExemptionRefs}, LEN({!ConcatenatedChildExemptionRefs}) - 1)</expression>
    </formulas>
    <formulas>
        <name>Select_Exemption_Type_Label</name>
        <dataType>String</dataType>
        <expression>&quot;End an exemption for &quot; + {!Get_Exemption.PropertyAddress__c} + &quot;, &quot; + {!Get_Exemption.PropertyPostcode__c}</expression>
    </formulas>
    <formulas>
        <name>StoreAddressBeforeDeletion</name>
        <dataType>String</dataType>
        <expression>&quot;Your exemption &quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} + &quot; &quot; + {!Get_Selected_Exemption_Type.Exemption_Type_Code__c} + &quot; for &quot; + {!Get_Selected_Exemption_Type.Exemption__r.PropertyAddress__c} + &quot;, &quot; + {!Get_Selected_Exemption_Type.Exemption__r.PropertyPostcode__c} + &quot; has been ended&quot;</expression>
    </formulas>
    <formulas>
        <name>WhyEndingExemptionSubText</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;p style= {color: black}&quot; + &quot;&lt;p&gt;&quot; + &quot; You are ending exemption: &quot; + &quot;&lt;b&gt;&quot; + {!Get_Selected_Exemption_Type.Exemption_Type__r.Name} + &quot; &quot; + {!Get_Selected_Exemption_Type.Exemption_Type_Code__c} + &quot;&lt;/b&gt;&quot;+ &quot; for the property &quot; + &quot;&lt;b&gt;&quot; + {!Get_Selected_Exemption_Type.Exemption__r.PropertyAddress__c} + &quot;, &quot; + {!Get_Selected_Exemption_Type.Exemption__r.PropertyPostcode__c} + &quot;&lt;/b&gt; &lt;/p&gt;&quot;</expression>
    </formulas>
    <interviewLabel>PRSE Policy End Exemption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Policy End Exemption</label>
    <loops>
        <name>Count_Child_Exemption_Records</name>
        <label>Count Child Exemption Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Child_Exemptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Child_Exemption_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Single_or_Multiple_Exemption_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Child_Exemptions</name>
        <label>Loop through Child Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Child_Exemptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Separator_to</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_trailing_separator</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Exemptions</name>
        <label>Get Child Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Child_Exemption_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Exemption.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exemption</name>
        <label>Get Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Exemptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Exemption_Type</name>
        <label>Get Selected Child Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Why_you_are_ending_exemption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Exemption_Ref__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedChildExemptionRef</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Child_Exemption</name>
        <label>Get Single Child Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Child_Exemption_Reference_Single</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Exemption.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>End_Exemption</name>
        <label>End Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_are_the_landlord_s_communication_preferences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Exemption_Type.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_End_Reason__c</field>
            <value>
                <elementReference>Further_Explain_Why_Ending_Exemption_TextArea.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Reason__c</field>
            <value>
                <elementReference>Why_you_are_ending_exemption_select.value</elementReference>
            </value>
        </inputAssignments>
        <object>Exemption_Type_Link__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm_End_Exemption</name>
        <label>Confirm End Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Details_before_deletion</targetReference>
        </connector>
        <fields>
            <name>Confirm_End_Exemption_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Confirm End Exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Confirm End Exemption</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_End_Exemption_Back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_End_Exemption_Markup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;span class=&quot;govuk-caption-l&quot;&gt;{!Exemption_Ref_Number_Formatted}&lt;/span&gt;
&lt;title class=&quot;govuk-heading-l&quot;&gt;Are you sure you want to end this exemption?&lt;/title&gt;
&lt;p class=&quot;govuk-body&quot;&gt;You are ending exemption &lt;b&gt;{!Get_Selected_Exemption_Type.Exemption_Type__r.Name} {!Get_Selected_Exemption_Type.Exemption_Type_Code__c}&lt;/b&gt; for the property &lt;b&gt;{!Get_Selected_Exemption_Type.Exemption__r.PropertyAddress__c}, {!Get_Selected_Exemption_Type.Exemption__r.PropertyPostcode__c}&lt;/b&gt;, this will inform the associated local authority and landlord&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_End_Exemption_Buttons</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>WARNING</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>End exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exemption_End_Confirmation</name>
        <label>Exemption End Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Exemption_End_Confirmation_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Exemption End Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Exemption End Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Exemption_End_Confirmation_Panel</name>
            <extensionName>uxgovuk:govPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Exemption ended</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bodyText</name>
                <value>
                    <elementReference>AddressBeforeDeletion</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Exemption_End_Confirmation_Markup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;p class=&apos;govuk-body&apos;&gt;Exemption reference number: {!SelectedChildExemptionRef}&lt;/p&gt;
&lt;p class=&apos;govuk-body&apos;&gt;The landlord and LA should receive a confirmation email within 72 hours.&lt;/p&gt;
&lt;p class=&apos;govuk-body&apos;&gt;The exemption will now show in the ended section of the landlord&apos;s dashboard&lt;/p&gt;
</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Further_Explain_Why_Ending_Exemption</name>
        <label>Further Explain Why Ending Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_End_Exemption</targetReference>
        </connector>
        <fields>
            <name>Further_Explain_Why_Ending_Exemption_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Further Explain Why Ending Exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Further Explain Why Ending Exemption</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Further_Explain_Why_Ending_Exemption_Back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Further_Explain_Why_Ending_Exemption_TextArea</name>
            <extensionName>c:gdsTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showCharacterCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Explain why you are ending this exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hint</name>
                <value>
                    <elementReference>WhyEndingExemptionSubText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caption</name>
                <value>
                    <elementReference>Exemption_Ref_Number_Formatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintStyling</name>
                <value>
                    <stringValue>Subtitle small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Further_Explain_Why_Ending_Exemption_Nav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Exemption_Type_to_end</name>
        <label>Select Exemption Type to end</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Child_Exemption_Reference_Multi</targetReference>
        </connector>
        <fields>
            <name>Select_Exemption_Type_to_end_History</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Select_Exemption_Type_to_end_History</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Select Exemption type to end</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Exemption_Type_to_end_Back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Exemption_Type_to_end_Errors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Exemption_Type_to_end_Radio</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <elementReference>Select_Exemption_Type_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <elementReference>ConcatenatedChildExemptionLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <elementReference>ConcatenatedChildExemptionRefs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caption</name>
                <value>
                    <elementReference>Exemption_Ref_Number_Formatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select the exemption you want to end</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Exemption_Type_to_end_Navigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Why_you_are_ending_exemption</name>
        <label>Why you are ending exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_Other_selected</targetReference>
        </connector>
        <fields>
            <name>Why_you_are_ending_exemption_history</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Why you are ending exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Why you are ending exemption</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Why_you_are_ending_exemption_back</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Why_you_are_ending_exemption_errors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Why_you_are_ending_exemption_select</name>
            <extensionName>c:gdsSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select why you are ending this exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <elementReference>WhyEndingExemptionSubText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tell us why you are ending this exemption</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caption</name>
                <value>
                    <elementReference>Exemption_Ref_Number_Formatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklist</name>
                <value>
                    <elementReference>ReasonsToEndFieldName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Why_you_are_ending_exemption_navigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Exemption</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressBeforeDeletion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildExemptionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ConcatenatedChildExemptionLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConcatenatedChildExemptionRefs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LAMailBox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LAPersonalisationJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonalisationJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReasonsToEndFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Exemption_Type_Link__c.End_Reason__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Select_Exemption_Radio_Hint_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Select_Exemption_Radio_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedChildExemptionRef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedChildExemptionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_landlordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
