force-app/main/default/flows/PRSE_SearchAddressByPostcode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Address_by_Postcode</name>
        <label>Get Address by Postcode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_AddressRetrievalAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Countries_From_Global_Value_Set_For_Address</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>postCodes</name>
            <value>
                <elementReference>var_EnteredPostcode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_AddressRetrievalAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_ReturnedAddresses</assignToReference>
            <name>addresses</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>col_DeliveryPointAddresses</assignToReference>
            <name>deliveryPointAddresses</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_NumberofAddressesReturned</assignToReference>
            <name>numberOfAddresses</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Countries_From_Global_Value_Set_For_Address</name>
        <label>Get Countries From Global Value Set For Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_RetrieveCountriesAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Address_Search_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>PRSE_RetrieveCountriesAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Retrieve_Manual_Address_UPRN</name>
        <label>Retrieve Manual Address UPRN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_PropertyAddressMatchAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_to_Account_Record_from_Manual_Input</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addresses</name>
            <value>
                <elementReference>fml_CompoundAddressForMatch</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_PropertyAddressMatchAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Output_Navigation_Back</name>
        <label>Assign Output Navigation Back</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_output_navigation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Back</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Output_Navigation_Next</name>
        <label>Assign Output Navigation - Next</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_output_navigation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Next</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Address_by_Postcode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Account_Record_from_Manual_Input</name>
        <label>Assign to Account Record from Manual Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fml_AddressLines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Town.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postcode.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fml_ManualInputAddressCountryFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PropertyUPRN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Manual_Address_UPRN.addressUPRN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LocalCustodianCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fml_LocalCustodianCodeViaManualInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>County.value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_to_Account_Record_from_OS_Places</name>
        <label>Assign to Account Record from OS Places</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fml_CompoundAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_FilteredDeliveryPointAddress.POST_TOWN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_FilteredDeliveryPointAddress.POSTCODE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PropertyUPRN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fml_UPRNToText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LocalCustodianCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fml_LocalCustodianCodeViaOSPlaces</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Account.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Delivery_Address_to_Filtered_Address</name>
        <label>Set Delivery Address to Filtered Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FilteredDeliveryPointAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_Addresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Filtered_Addresses</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Delivery_Point_Addresses_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Delivery Point Addresses Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Delivery_Point_Addresses_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>col_DeliveryPointAddresses</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Delivery_Point_Addresses_Filter.ADDRESS</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_SelectedAddress</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Filtered_Addresses</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Address_Confirmation_or_Manual_Input</name>
        <label>Address Confirmation or Manual Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fml_AddressGoToPage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONFIRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Point_Addresses_Filter</targetReference>
            </connector>
            <label>Address Confirm</label>
        </rules>
        <rules>
            <name>Address_Manual_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fml_AddressGoToPage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MANUALINPUT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manual_Address_Entry_Screen</targetReference>
            </connector>
            <label>Address Manual Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Navigation</name>
        <label>Check Navigation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Output_Navigation_Next</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Postcode_Nav.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Output_Navigation_Back</targetReference>
            </connector>
            <label>Exit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fml_AddressesAvailableText</name>
        <dataType>String</dataType>
        <expression>IF( {!var_NumberofAddressesReturned} == 1, &quot;1 address found for &quot; &amp; {!var_EnteredPostcode}, TEXT({!var_NumberofAddressesReturned}) &amp; &quot; addresses found for &quot; &amp; {!var_EnteredPostcode})</expression>
    </formulas>
    <formulas>
        <name>fml_AddressGoToPage</name>
        <dataType>String</dataType>
        <expression>IF( 
{!var_NumberofAddressesReturned} == 0
,
{!Nav_NoUserAddress.action}
,
{!Nav_UserAddressSelect.action}
)</expression>
    </formulas>
    <formulas>
        <name>fml_AddressLines</name>
        <dataType>String</dataType>
        <expression>{!AddressLine1.value}&amp; IF(ISBLANK( {!AddressLine2.value} ), &quot;&quot;, &quot;, &quot; &amp; {!AddressLine2.value})</expression>
    </formulas>
    <formulas>
        <name>fml_CompoundAddress</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_FilteredDeliveryPointAddress.ORGANISATION_NAME}), &quot;&quot;, {!var_FilteredDeliveryPointAddress.ORGANISATION_NAME} &amp; &quot;, &quot;) &amp; 
IF(ISBLANK({!var_FilteredDeliveryPointAddress.SUB_BUILDING_NAME}), &quot;&quot;,
 {!var_FilteredDeliveryPointAddress.SUB_BUILDING_NAME} &amp; &quot;, &quot;) &amp; IF(ISBLANK({!var_FilteredDeliveryPointAddress.BUILDING_NAME}), &quot;&quot;,
{!var_FilteredDeliveryPointAddress.BUILDING_NAME} &amp; &quot;, &quot;) &amp; IF(ISBLANK({!var_FilteredDeliveryPointAddress.BUILDING_NUMBER}), &quot;&quot;, TEXT({!var_FilteredDeliveryPointAddress.BUILDING_NUMBER}) &amp; &quot;, &quot;) &amp; IF(ISBLANK({!var_FilteredDeliveryPointAddress.THOROUGHFARE_NAME}), &quot;&quot;,  {!var_FilteredDeliveryPointAddress.THOROUGHFARE_NAME})</expression>
    </formulas>
    <formulas>
        <name>fml_CompoundAddressForMatch</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK( {!fml_AddressLines} ), &quot;&quot;, {!fml_AddressLines} &amp; &quot;, &quot;) &amp; 
IF(ISBLANK( {!Town.value} ), &quot;&quot;, {!Town.value} &amp; &quot;, &quot;) &amp; IF(ISBLANK({!Postcode.value}), &quot;&quot;, {!Postcode.value}
)</expression>
    </formulas>
    <formulas>
        <name>fml_LocalCustodianCodeViaManualInput</name>
        <dataType>String</dataType>
        <expression>TEXT({!Retrieve_Manual_Address_UPRN.deliveryPointAddress.LOCAL_CUSTODIAN_CODE})</expression>
    </formulas>
    <formulas>
        <name>fml_LocalCustodianCodeViaOSPlaces</name>
        <dataType>String</dataType>
        <expression>TEXT({!var_FilteredDeliveryPointAddress.LOCAL_CUSTODIAN_CODE})</expression>
    </formulas>
    <formulas>
        <name>fml_ManualInputAddressCountryFormula</name>
        <dataType>String</dataType>
        <expression>IF({!var_input_show_country},{!ManualInputCountry.value},&quot;United Kingdom&quot;)</expression>
    </formulas>
    <formulas>
        <name>fml_UPRNToText</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!var_FilteredDeliveryPointAddress.UPRN}), &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>PRSE_SearchAddressByPostcode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Search Address By Postcode</label>
    <loops>
        <name>Loop_Over_Filtered_Addresses</name>
        <label>Loop Over Filtered Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Delivery_Point_Addresses_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Delivery_Address_to_Filtered_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_to_Account_Record_from_OS_Places</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Address_Search_Screen</name>
        <label>Address Search Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Address_Confirmation_or_Manual_Input</targetReference>
        </connector>
        <fields>
            <name>AddressSearch_TopSpacer</name>
            <extensionName>c:prseSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressSelection_MarkupText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-l&quot; style=&quot;max-width: 66.6667%;&quot;&gt;{!var_input_address_screen_title}&lt;/h2&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoAddressInset</name>
            <extensionName>uxgovuk:govInsetText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>insetText</name>
                <value>
                    <elementReference>fml_AddressesAvailableText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_NumberofAddressesReturned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressSelect</name>
            <extensionName>c:gdsSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressSelectField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select an address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <elementReference>fml_AddressesAvailableText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>var_input_address_field_label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>var_ReturnedAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>var_ReturnedAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caption</name>
                <value>
                    <elementReference>var_SelectedAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedAddress</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_NumberofAddressesReturned</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OptionalInsetText</name>
            <extensionName>uxgovuk:govInsetText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>insetText</name>
                <value>
                    <elementReference>var_input_address_screen_optional_inset</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_input_address_screen_optional_inset</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_NumberofAddressesReturned</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Nav_UserAddressSelect</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Back,ManualInput~SKIP,Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Search again,Enter address manually,Use this address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Right,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Secondary,Brand,Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_NumberofAddressesReturned</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Nav_NoUserAddress</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Back,ManualInput~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Search again,Enter address manually</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Secondary,Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_NumberofAddressesReturned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manual_Address_Entry_Screen</name>
        <label>Manual Address Entry Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrieve_Manual_Address_UPRN</targetReference>
        </connector>
        <fields>
            <name>ManualAddressEntry_TopSpacer</name>
            <extensionName>c:prseSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ManualAddressEntry_MarkupText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-l&quot; style=&quot;max-width: 66.6667%;&quot;&gt;Manual address entry&lt;/h2&gt;
</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressLine1</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressLine1textField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter address line 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address line 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rec_Account.PersonMailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-line1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressLine2</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressLine2textField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address line 2 (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-line2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Town</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>TownTextField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter town or city</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Town or city</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rec_Account.PersonMailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-level2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>County</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>CountytextField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>County (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rec_Account.PersonMailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-level1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Postcode</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>PostcodetextField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a postcode in the correct format, like PO12 6NT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^(([Gg][Ii][Rr]\s?0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9]?[A-Za-z]))))\s?[0-9][A-Za-z]{2}))$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rec_Account.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>postal-code</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ManualInputCountry</name>
            <extensionName>c:gdsSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>ManualInputCountrySelectField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select a country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueAPIName</name>
                <value>
                    <elementReference>rec_Account.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rec_Account.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>Get_Countries_From_Global_Value_Set_For_Address.concatenatedCountries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>Get_Countries_From_Global_Value_Set_For_Address.concatenatedCountries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_input_show_country</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ManualAddress_Nav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Secondary,Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PostcodeEntry</name>
        <label>PostcodeEntry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Navigation</targetReference>
        </connector>
        <fields>
            <name>PostcodeEntry_TopSpacer</name>
            <extensionName>c:prseSpacer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PostcodeEntryMarkupText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&quot;govuk-heading-l&quot; style=&quot;max-width: 66.6667%;&quot;&gt;{!var_input_postcode_screen_title}&lt;/h2&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PostcodeEntryField</name>
            <extensionName>uxgovuk:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>PostcodeEntrytextField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a postcode in the correct format, like PO12 6NT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>var_input_postcode_field_label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^(([Gg][Ii][Rr]\s?0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9]?[A-Za-z]))))\s?[0-9][A-Za-z]{2}))$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rec_Account.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>postal-code</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_EnteredPostcode</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Postcode_Nav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Exit~SKIP,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Back,Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Secondary,Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Landlord_Details</name>
        <isActive>false</isActive>
        <label>Landlord Details</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Property_Type</name>
        <isActive>false</isActive>
        <label>Property Type</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>User_Type</name>
        <isActive>false</isActive>
        <label>User Type</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>UserDetailsStageResource</name>
        <isActive>false</isActive>
        <label>User Details</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>WelcomeStageResource</name>
        <isActive>false</isActive>
        <label>Welcome</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PostcodeEntry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_DeliveryPointAddresses</name>
        <apexClass>DeliveryPointAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Delivery_Point_Addresses_Filter</name>
        <apexClass>DeliveryPointAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rec_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_EnteredPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FilteredDeliveryPointAddress</name>
        <apexClass>DeliveryPointAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_input_address_field_label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_input_address_screen_optional_inset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_input_address_screen_title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_input_postcode_field_label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_input_postcode_screen_title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_input_show_country</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LocalCustodianCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_NumberofAddressesReturned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Return either Back or Next to parent flow</description>
        <name>var_output_navigation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PropertyUPRN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ReturnedAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
