force-app/main/default/flows/PRSE_Registered_Exemption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AssignExistingAddressId</name>
        <label>Assign Existing Address Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_AddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rcd_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetExistingPropertiesWithMatchingUPRN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignExistingPropertyId</name>
        <label>Assign Existing Property Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PropertyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rcd_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAddressUsage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsExistingAddressAvailable</name>
        <label>Is Existing Address Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignExistingAddressId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateNewAddressIfExistingIsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rcd_Address.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rcd_Address.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewAddress</targetReference>
            </connector>
            <label>Create New Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsExistingPropertyAvailable</name>
        <label>Is Existing Property Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignExistingPropertyId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateNewProperty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rcd_Property.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rcd_Property.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateProperty</targetReference>
            </connector>
            <label>Create New Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUserALandlordOrAnAgent</name>
        <label>Is User A Landlord Or An Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>FindExistingAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserAsAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExemptionOwnerAccount.Landlord_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindExistingLandlordAccount</targetReference>
            </connector>
            <label>User As Agent</label>
        </rules>
        <rules>
            <name>UserAsLandlord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExemptionOwnerAccount.Landlord_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateExemptionAsLandlord</targetReference>
            </connector>
            <label>User As Landlord</label>
        </rules>
    </decisions>
    <decisions>
        <name>LinkExistingLandlordOrMakeNew</name>
        <label>Link Existing Landlord Or Make New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateNewLandlordPersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LinkExistingLandlord</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FindExistingLandlordAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindExistingLandlordAccount</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateExemptionWithExistingLandlord</targetReference>
            </connector>
            <label>Link Existing Landlord</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PRSE Exemption Registered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Registered Exemption</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAddressUsage</name>
        <label>Create Address Usage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLocalAuthorityAccounts</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>var_AddressId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>var_PropertyId</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewAddress</name>
        <label>Create New Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>var_AddressId</assignRecordIdToReference>
        <connector>
            <targetReference>GetExistingPropertiesWithMatchingUPRN</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.PropertyCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.PropertyCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>$Record.PropertyCounty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>$Record.PropertyPostcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>$Record.PropertyAddress__c</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewLandlordPersonAccount</name>
        <label>Create New Landlord Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>var_CreatedLandlordAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateExemptionWithNewLandlord</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.LandlordFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LandlordLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.LandlordEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>$Record.LandlordCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>$Record.LandlordCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>$Record.LandlordPostcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>$Record.LandlordCounty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>$Record.LandlordAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.LandlordPhone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>CreateProperty</name>
        <label>Create Property</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>var_PropertyId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateAddressUsage</targetReference>
        </connector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>var_AddressId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UPRN__c</field>
            <value>
                <elementReference>$Record.PropertyUPRN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordCreates>
    <recordLookups>
        <name>FindExistingAddress</name>
        <label>Find Existing Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsExistingAddressAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Street__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PropertyAddress__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PropertyCity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Postcode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PropertyPostcode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PropertyCountry__c</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>rcd_Address</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>County__c</queriedFields>
        <queriedFields>Latitude__c</queriedFields>
        <queriedFields>Longitude__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
        <queriedFields>Street__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindExistingLandlordAccount</name>
        <label>Find Existing Landlord Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LinkExistingLandlordOrMakeNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LandlordFirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LandlordLastName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LandlordPhone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LandlordEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMailingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LandlordAddress__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMailingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LandlordCity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMailingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LandlordPostcode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMailingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LandlordCountry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExemptionOwner</name>
        <label>Get Exemption Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExemptionOwnerAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExemptionOwnerAccount</name>
        <label>Get Exemption Owner Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsUserALandlordOrAnAgent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetExemptionOwner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingPropertiesWithMatchingUPRN</name>
        <label>Get Existing Properties With Matching UPRN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsExistingPropertyAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UPRN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PropertyUPRN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcd_Address.Id</elementReference>
            </value>
        </filters>
        <object>Property__c</object>
        <outputReference>rcd_Property</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>County__c</queriedFields>
        <queriedFields>Latitude__c</queriedFields>
        <queriedFields>Longitude__c</queriedFields>
        <queriedFields>Postcode__c</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>UPRN__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetLocalAuthorityAccounts</name>
        <label>Get Local Authority Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateExemptionWithProperty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Local_Custodian_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Local_Custodian_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExemptionAsLandlord</name>
        <label>Update Exemption As Landlord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FindExistingAddress</targetReference>
        </connector>
        <inputAssignments>
            <field>Landlord__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateExemptionWithExistingLandlord</name>
        <label>Update Exemption With Existing Landlord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FindExistingAddress</targetReference>
        </connector>
        <inputAssignments>
            <field>Landlord__c</field>
            <value>
                <elementReference>FindExistingLandlordAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateExemptionWithNewLandlord</name>
        <label>Update Exemption With New Landlord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FindExistingAddress</targetReference>
        </connector>
        <inputAssignments>
            <field>Landlord__c</field>
            <value>
                <elementReference>var_CreatedLandlordAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateExemptionWithProperty</name>
        <label>Update Exemption With Property</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Local_Authority__c</field>
            <value>
                <elementReference>GetLocalAuthorityAccounts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>var_PropertyId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetExemptionOwner</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <object>Exemption__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rcd_Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>rcd_Property</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>var_AddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedLandlordAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
