force-app/main/default/flows/PRSE_AccountRegistration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Digital modus flow error handling</description>
        <name>Create_a_System_Log_Action_1</name>
        <label>DM_ErrorHandling</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>digitalmodus__SystemLogFlowWrapper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Handling_SF</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>logCode</name>
            <value>
                <stringValue>PRSE-REGISTRATION-001</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logFullMessage</name>
            <value>
                <stringValue>{!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <stringValue>{!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logSourceProcessCategory</name>
            <value>
                <stringValue>flow_record_trigger</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logType</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>relatedService</name>
            <value>
                <stringValue>Registration flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggeringAutomationName</name>
            <value>
                <stringValue>PRSE Account Registration flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggeringFlowInterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>digitalmodus__SystemLogFlowWrapper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>GetAddressesByPostcode</name>
        <label>Get Addresses By Postcode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_AddressRetrievalAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddressSelection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>postCodes</name>
            <value>
                <elementReference>EnteredPostcode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_AddressRetrievalAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ReturnedAddresses</assignToReference>
            <name>addresses</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DeliveryPointAddresses</assignToReference>
            <name>deliveryPointAddresses</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NumberOfAddressesReturned</assignToReference>
            <name>numberOfAddresses</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetCountriesFromGlobalValueSet</name>
        <label>Get Countries From Global Value Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_RetrieveCountriesAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddressManualInput</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>PRSE_RetrieveCountriesAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>AssignAgentAccountType</name>
        <label>Assign Agent Account Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBusinessAccountType</name>
        <label>Assign Business Account Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BusinessDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBusinessDetails</name>
        <label>Assign Business Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessDetailsEmailConfirmation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessDetailsFirstName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Landlord_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessDetailsLastName.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAccountAsBusiness</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignIndividualAccountType</name>
        <label>Assign Individual Account Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IndividualDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignIndividualDetails</name>
        <label>Assign Individual Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndividualDetailsEmailConfirmation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Landlord_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.BusinessName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAccountAsIndividual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Business_Assign_Agent_Details</name>
        <label>Assign Agent Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgentDetailsEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Landlord_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.BusinessName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgentBusinessOrOrganisationName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgentFirstName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgentLastName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgentPhoneNumber.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAccountAsAgent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDeliveryAddressToFilteredAddress</name>
        <label>Set Delivery Address to Filtered Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FilteredDeliveryPointAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverFilteredAddresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverFilteredAddresses</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>DeliveryPointAddressesFilter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Delivery Point Addresses Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_DeliveryPointAddressesFilter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>DeliveryPointAddresses</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DeliveryPointAddressesFilter.ADDRESS</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>SelectedAddress</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>LoopOverFilteredAddresses</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>BusinessOrIndividualDecision</name>
        <label>Business Or Individual Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessOrIndividualRadios.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBusinessAccountType</targetReference>
            </connector>
            <label>Business</label>
        </rules>
        <rules>
            <name>IndividualIndividual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessOrIndividualRadios.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignIndividualAccountType</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConfirmationOrManualInput</name>
        <label>Confirmation Or Manual Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DeliveryPointAddressesFilter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fla_AddressGoToPage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONFIRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddressConfirmation</targetReference>
            </connector>
            <label>Confirm</label>
        </rules>
        <rules>
            <name>AddressSelectionManualInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fla_AddressGoToPage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MANUALINPUT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetCountriesFromGlobalValueSet</targetReference>
            </connector>
            <label>Address Selection Manual Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConfirmOrUseDifferentOrEnterManually</name>
        <label>Confirm Or Use Different Or Enter Manually</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DeliveryPointAddressesFilter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddressConfirmationNext</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressConfirmationNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEXT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeliveryPointAddressesFilter</targetReference>
            </connector>
            <label>Confirm</label>
        </rules>
        <rules>
            <name>BusinessPostcodeInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressConfirmationNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POSTCODE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>BusinessAddress</targetReference>
            </connector>
            <label>Business Postcode Input</label>
        </rules>
        <rules>
            <name>IndividualPostcodeInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressConfirmationNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POSTCODE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>IndividualAddress</targetReference>
            </connector>
            <label>Individual Postcode Input</label>
        </rules>
        <rules>
            <name>AgentPostcodeInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressConfirmationNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POSTCODE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AgentAddress</targetReference>
            </connector>
            <label>Agent Postcode Input</label>
        </rules>
        <rules>
            <name>AddressConfirmationManualInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressConfirmationNavigation.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MANUALINPUT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetCountriesFromGlobalValueSet</targetReference>
            </connector>
            <label>Manual Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>LandlordOrAgentDecision</name>
        <label>Landlord Or Agent Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Landlord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LandlordOrAgentRadios.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landlord</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BusinessOrIndividual</targetReference>
            </connector>
            <label>Landlord</label>
        </rules>
        <rules>
            <name>Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LandlordOrAgentRadios.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAgentAccountType</targetReference>
            </connector>
            <label>Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>PostcodeOrManualInput</name>
        <label>Postcode Or Manual Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Postcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextPage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>POSTCODE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAddressesByPostcode</targetReference>
            </connector>
            <label>Postcode</label>
        </rules>
        <rules>
            <name>ManualInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextPage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MANUALINPUT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCountriesFromGlobalValueSet</targetReference>
            </connector>
            <label>Manual Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendToDashboardIfSetupComplete</name>
        <label>Send To Dashboard If Setup Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_User_s_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendToDashboard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.SetupComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigateToOverviewPage</targetReference>
            </connector>
            <label>Send To Dashboard</label>
        </rules>
    </decisions>
    <description>A flow that guides users through account registration for businesses, individual landlords, and agents, capturing names, emails, telephone numbers, and addresses.</description>
    <environments>Default</environments>
    <formulas>
        <name>AddressesAvailableText</name>
        <dataType>String</dataType>
        <expression>IF({!NumberOfAddressesReturned} == 1, &quot;1 address found for &quot; &amp; {!EnteredPostcode}, TEXT({!NumberOfAddressesReturned}) &amp; &quot; addresses found for &quot; &amp; {!EnteredPostcode})</expression>
    </formulas>
    <formulas>
        <name>AddressLines</name>
        <dataType>String</dataType>
        <expression>{!AddressManualInputLine1.value} &amp; IF(ISBLANK( {!AddressManualInputLine2.value}), &quot;&quot;, &quot;, &quot; &amp; {!AddressManualInputLine2.value})</expression>
    </formulas>
    <formulas>
        <name>CompoundAddress</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!FilteredDeliveryPointAddress.ORGANISATION_NAME}), &quot;&quot;, {!FilteredDeliveryPointAddress.ORGANISATION_NAME} &amp; &quot;, &quot;) &amp; 
IF(ISBLANK({!FilteredDeliveryPointAddress.SUB_BUILDING_NAME}), &quot;&quot;, {!FilteredDeliveryPointAddress.SUB_BUILDING_NAME} &amp; &quot;, &quot;) &amp; IF(ISBLANK({!FilteredDeliveryPointAddress.BUILDING_NAME}), &quot;&quot;, {!FilteredDeliveryPointAddress.BUILDING_NAME} &amp; &quot;, &quot;) &amp; IF(ISBLANK({!FilteredDeliveryPointAddress.BUILDING_NUMBER}), &quot;&quot;, TEXT({!FilteredDeliveryPointAddress.BUILDING_NUMBER}) &amp; &quot;, &quot;) &amp; IF(ISBLANK({!FilteredDeliveryPointAddress.THOROUGHFARE_NAME}), &quot;&quot;,  {!FilteredDeliveryPointAddress.THOROUGHFARE_NAME})</expression>
    </formulas>
    <formulas>
        <name>FilteredCountry</name>
        <dataType>String</dataType>
        <expression>CASE({!FilteredDeliveryPointAddress.COUNTRY_CODE}, &quot;E&quot;, &quot;England&quot;, &quot;W&quot;, &quot;Wales&quot;, &quot;S&quot;, &quot;Scotland&quot;, &quot;N&quot;, &quot;Northern Ireland&quot;, &quot;L&quot;, &quot;Channel Islands&quot;, &quot;M&quot;, &quot;Isle of Man&quot;, &quot;J&quot;, &quot;United Kingdom&quot;, &quot;United Kingdom&quot;)</expression>
    </formulas>
    <formulas>
        <name>fla_AddressGoToPage</name>
        <dataType>String</dataType>
        <expression>IF({!NumberOfAddressesReturned} == 0, {!AddressSelectionNavigation2.action}, {!AddressSelectionNavigation.action})</expression>
    </formulas>
    <interviewLabel>PRSE_AccountRegistration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Account Registration</label>
    <loops>
        <name>LoopOverFilteredAddresses</name>
        <label>Loop Over Filtered Addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>DeliveryPointAddressesFilter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetDeliveryAddressToFilteredAddress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccountAddressFromOSPlaces</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAccountAsAgent</name>
        <label>Create Account As Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AgentAddress</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>Account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateAccountAsBusiness</name>
        <label>Create Account As Business</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BusinessAddress</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>Account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateAccountAsIndividual</name>
        <label>Create Account As Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IndividualAddress</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>Account</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_User_s_Contact</name>
        <label>Get User&apos;s Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingAccount</name>
        <label>Get Existing Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LandlordOrAgent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_s_Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Account.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccountAddressFromOSPlaces</name>
        <label>Update Account Address From OSPlaces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateUserSetupComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>FilteredDeliveryPointAddress.POST_TOWN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>FilteredDeliveryPointAddress.POSTCODE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>CompoundAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountWithManualAddressInput</name>
        <label>Update Account With Manual Address Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateUserSetupComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>AddressManualInputTown.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>AddressManualInputCountry.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>AddressManualInputPostcode.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>AddressManualInputCounty.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>AddressLines</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUserSetupComplete</name>
        <label>Update User Setup Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NavigateToOverviewPage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_a_System_Log_Action_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SetupComplete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>AddressConfirmation</name>
        <label>Address Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConfirmOrUseDifferentOrEnterManually</targetReference>
        </connector>
        <fields>
            <name>AddressConfirmationHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>AddressSelection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Address confirmation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Confirm address&lt;/h1&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationInset</name>
            <extensionName>uxgovuk:govInsetText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>insetText</name>
                <value>
                    <elementReference>SelectedAddress</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressConfirmationNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next,Postcode,ManualInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Use this address,Use a different address,Enter address manually</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddressManualInput</name>
        <label>Address Manual Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateAccountWithManualAddressInput</targetReference>
        </connector>
        <fields>
            <name>AddressManualInputHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>AddressManualInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Address manual input</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Enter address manually&lt;/h1&gt;  </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputLine1</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputLine1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address line 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-line1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputLine2</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputLine2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address line 2 (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-line2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputTown</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputTown</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a town or city</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Town or city</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-level2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputCounty</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputCounty</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>County (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>address-level1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputPostcode</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputPostcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a postcode in the correct format, like PO12 6NT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>postal-code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputCountry</name>
            <extensionName>c:gdsSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select a country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>GetCountriesFromGlobalValueSet.concatenatedCountries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>GetCountriesFromGlobalValueSet.concatenatedCountries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressManualInputCountry</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressManualInputNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Use this address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddressSelection</name>
        <label>Address Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConfirmationOrManualInput</targetReference>
        </connector>
        <fields>
            <name>AddressSelectionsHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>AddressSelection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Address selection</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressSelectionBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressSelectionErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddressSelectionText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;p class=&apos;govuk-body&apos;&gt;{!AddressesAvailableText}&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfAddressesReturned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressSelectionField</name>
            <extensionName>c:gdsSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AddressSelectionField</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select an address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionLabels</name>
                <value>
                    <elementReference>ReturnedAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionValues</name>
                <value>
                    <elementReference>ReturnedAddresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <elementReference>AddressesAvailableText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAddress</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfAddressesReturned</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressSelectionNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Confirm,ManualInput~SKIP,Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Use this address,Enter address manually,Search again</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfAddressesReturned</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddressSelectionNavigation2</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>ManualInput~SKIP,Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Enter address manually,Search again</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfAddressesReturned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Agent_Details</name>
        <label>Agent Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Business_Assign_Agent_Details</targetReference>
        </connector>
        <fields>
            <name>AgentDetailsHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>Agent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Agent details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentDetailsBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentDetailsErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentDetailsText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Agent details&lt;/h1&gt;  </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentBusinessOrOrganisationName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AgentBusinessOrOrganisationName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>255.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agent organisation or business name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an agent organisation or business name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>organization</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentFirstName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AgentFirstName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>given-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a first name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>First name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentLastName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AgentLastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>family-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentDetailsEmail</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AgentDetailsEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an email address in the correct format, like name@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentDetailsEmailConfirmation</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>valueToValidateAgainstErrorMessage</name>
                <value>
                    <stringValue>Email addresses do not match</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AgentDetailsEmailConfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainst</name>
                <value>
                    <elementReference>AgentDetailsEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Email address is not valid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentPhoneNumber</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AgentPhoneNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>tel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a phone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>You may be contacted on this number.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Telephone number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[+()0-9](?:[\d\s\-()]*[0-9)])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentDetailsNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Save and continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AgentAddress</name>
        <label>AgentAddress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PostcodeOrManualInput</targetReference>
        </connector>
        <fields>
            <name>AgentAddressHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>AgentAddress</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Agent address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentAddressBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentAddressErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentAddressText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Agent address&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;If your address is outside the UK, please enter it manually.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentAddressPostcode</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>AgentAddressPostcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>For example, AA3 1AB</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a postcode in the correct format, like PO12 6NT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^(([Gg][Ii][Rr]\s?0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9]?[A-Za-z]))))\s?[0-9][A-Za-z]{2}))$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>postal-code</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredPostcode</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AgentAddressNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Postcode,ManualInput~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Find address,Enter address manually</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NextPage</assignToReference>
                <name>action</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BusinessAddress</name>
        <label>Business Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PostcodeOrManualInput</targetReference>
        </connector>
        <fields>
            <name>BusinessAddressHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>BusinessAddress</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Business address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessAddressBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessAddressErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessAddressText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Organisation or business address&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;If your address is outside the UK, please enter it manually.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessAddressPostcode</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>BusinessAddressPostcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a postcode in the correct format, like PO12 6NT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>For example, AA3 1AB</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^(([Gg][Ii][Rr]\s?0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9]?[A-Za-z]))))\s?[0-9][A-Za-z]{2}))$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>postal-code</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredPostcode</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BusinessAddressNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Postcode,ManualInput~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Find address,Enter address manually</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NextPage</assignToReference>
                <name>action</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BusinessDetails</name>
        <label>Business Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignBusinessDetails</targetReference>
        </connector>
        <fields>
            <name>BusinessDetailsHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>BusinessDetails</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Business details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessDetailsBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessDetailsErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessDetailsText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h2 class=&apos;govuk-heading-l&apos;&gt;Organisation or business details&lt;/h2&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessDetailsName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>BusinessDetailsName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an organisation or business name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Organisation or business name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>organization</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>255.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Account.BusinessName__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BusinessDetailsFirstName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>given-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>BusinessDetailsFirstName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a first name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>First name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>This is the first name of the person who manages exemptions for the organisation or business.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessDetailsLastName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>family-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>BusinessDetailsLastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>This is the last name of the person who manages exemptions for the organisation or business.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessDetailsEmail</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>BusinessDetailsEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an email address in the correct format, like name@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>This should be the email address of the person who manages exemptions for the organisation or business.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessDetailsEmailConfirmation</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>BusinessDetailsEmailConfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Email address is not valid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainstErrorMessage</name>
                <value>
                    <stringValue>Email addresses do not match</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainst</name>
                <value>
                    <elementReference>BusinessDetailsEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessDetailsPhoneNumber</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>BusinessDetailsPhoneNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Telephone number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>You may be contacted on this number.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>tel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a phone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[+()0-9](?:[\d\s\-()]*[0-9)])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Account.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BusinessDetailsNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Save and continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BusinessOrIndividual</name>
        <label>Business Or Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BusinessOrIndividualDecision</targetReference>
        </connector>
        <fields>
            <name>BusinessOrIndividualHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>BusinessOrIndividual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Business or individual</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessOrIndividualBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessOrIndividualErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessOrIndividualRadios</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueFieldId</name>
                <value>
                    <stringValue>BusinessOrIndividualRadios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select organisation or business or individual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <stringValue>Is this account for an organisation or business, or an individual?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <stringValue>Organisation or business|Individual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <stringValue>Business|Individual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintValues</name>
                <value>
                    <stringValue>Select organisation or business if your property is let under a business name, or is owned by an organisation.|This usually means you pay income tax on the money you earn through letting the property.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BusinessOrIndividualNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Save and continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Error handing screenflow</description>
        <name>Error_Handling_SF</name>
        <label>Error Handling SF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>flow_Error_Navigation</name>
            <extensionName>c:navigateFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>PRSExemptionsRegister/error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IndividualAddress</name>
        <label>Individual Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PostcodeOrManualInput</targetReference>
        </connector>
        <fields>
            <name>IndividualAddressHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>IndividualAddress</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Individual address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualAddressBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualAddressErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualAddressText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Your home address&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;If your home address is outside the UK, please enter it manually.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualAddressPostcode</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>IndividualAddressPostcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a postcode in the correct format, like PO12 6NT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>For example, AA3 1AB</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Postcode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^(([Gg][Ii][Rr]\s?0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9]?[A-Za-z]))))\s?[0-9][A-Za-z]{2}))$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>postal-code</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EnteredPostcode</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>IndividualAddressNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Postcode,ManualInput~SKIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Find address,Enter address manually</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left,Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand,Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NextPage</assignToReference>
                <name>action</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IndividualDetails</name>
        <label>Individual Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignIndividualDetails</targetReference>
        </connector>
        <fields>
            <name>IndividualDetailsHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>IndividualDetailsHistory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Individual details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualDetailsBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualDetailsErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualDetailsText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Your contact details&lt;/h1&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualDetailsFirstName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>IndividualDetailsFirstName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>First name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>given-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a first name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Account.FirstName</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>IndividualDetailsLastName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>IndividualDetailsLastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>family-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Account.LastName</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>IndividualDetailsEmail</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>IndividualDetailsEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an email address in the correct format, like name@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualDetailsEmailConfirmation</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>IndividualDetailsEmailConfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Email address is not valid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm your email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainstErrorMessage</name>
                <value>
                    <stringValue>Email addresses do not match</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainst</name>
                <value>
                    <elementReference>IndividualDetailsEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IndividualDetailsPhoneNumber</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>IndividualDetailsPhoneNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your telephone number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFontSize</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>tel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[+()0-9](?:[\d\s\-()]*[0-9)])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a phone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintText</name>
                <value>
                    <stringValue>You may be contacted on this number.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Account.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>IndividualDetailsNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Save and continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LandlordOrAgent</name>
        <label>Landlord Or Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LandlordOrAgentDecision</targetReference>
        </connector>
        <fields>
            <name>LandlordOrAgentHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>LandlordOrAgent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Landlord or agent</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LandlordOrAgentBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>destinationPageName</name>
                <value>
                    <stringValue>Home</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LandlordOrAgentErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LandlordOrAgentRadios</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueFieldId</name>
                <value>
                    <stringValue>LandlordOrAgentRadios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <stringValue>Landlord|Agent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <stringValue>Landlord|Agent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select landlord or agent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <stringValue>Is this account for a landlord or an agent?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hintValues</name>
                <value>
                    <stringValue>The landlord is the property owner.|You are an agent if you are registering the exemption on behalf of the property owner.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LandlordOrAgentNavigation</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Save and continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NavigateToOverviewPage</name>
        <label>Navigate To Overview Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowFinishNavigation</name>
            <extensionName>c:navigateFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>PRSExemptionsRegister/dashboard</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SendToDashboardIfSetupComplete</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressesToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_DeliveryPointAddressesFilter</name>
        <apexClass>DeliveryPointAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeliveryPointAddresses</name>
        <apexClass>DeliveryPointAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnterAddressManually</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EnteredPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilteredDeliveryPointAddress</name>
        <apexClass>DeliveryPointAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextPage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Next</stringValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfAddressesReturned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ReturnedAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
