force-app/main/default/flows/PRSE_PreviousExemptionsLink.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Secure_Token_Action</name>
        <label>Generate Secure Token Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_TokenGeneratorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>First_Name_to_JSON_Format</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Name_Email.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PRSE_TokenGeneratorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_GOV_UK_Notify_Email_Action</name>
        <label>Send GOV.UK Notify Email Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PreviousExemptionCheckEmail</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>PreviousExemptionEmailConfirm.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>PersonalisationJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>ee93d222-f901-4e38-aca9-55362ae088ed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>First_Name_to_JSON_Format</name>
        <label>First Name &amp; URL to JSON Format</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PersonalisationJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstNameURLToJSON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_GOV_UK_Notify_Email_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Match</name>
        <label>Email Match &amp; Legacy Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>PreviousExemptionCheckEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_does_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousExemptionEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Name_Email.PersonEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Name_Email.Imported_From_Legacy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Base_URL</targetReference>
            </connector>
            <label>Email is Valid to send</label>
        </rules>
        <rules>
            <name>Email_does_not_Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PreviousExemptionEmail.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Name_Email.PersonEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Name_Email.Imported_From_Legacy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreviousExemptionCheckEmail</targetReference>
            </connector>
            <label>Email is invalid to send</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Setup_Complete</name>
        <label>Is Setup Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.SetupComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreviousExemptionQuestion</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.SetupComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>URLRedirect</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PreviousExemptionQuestionDecision</name>
        <label>PreviousExemptionQuestion Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>PreviousExemptionEmailReg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreviousExemptionQuestionDecisionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousExemptionQuestionRadios.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreviousExemptionEmailReg</targetReference>
            </connector>
            <label>HasPreviousExemption</label>
        </rules>
        <rules>
            <name>PreviousExemptionQuestionDecisionNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousExemptionQuestionRadios.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_to_Account_Reg</targetReference>
            </connector>
            <label>DoesNotHavePreviousExemption</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstNameURLToJSON</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;full name\&quot;: \&quot;&quot; + {!Get_Name_Email.FirstName} + &quot; &quot; + {!Get_Name_Email.LastName} + &quot;\&quot;, \&quot;URL\&quot;: \&quot;&quot; + {!GetBaseURL} + &quot;verify-email?token=&quot; + {!Generate_Secure_Token_Action.token} + &quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>GetBaseURL</name>
        <dataType>String</dataType>
        <expression> {!Get_Site_Base_URL.siteBaseURL}</expression>
    </formulas>
    <interviewLabel>PRSE_PreviousExemptionsLink {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Previous Exemptions Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Name_Email</name>
        <label>Get Name, Email &amp; LegacyCheck</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousExemptionEmail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Imported_From_Legacy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Imported_From_Legacy__c</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>PreviousExemptionCheckEmail</name>
        <label>PreviousExemptionCheckEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PreviousExemptionCheckEmailHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>PreviousExemptionCheckEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Previous Check Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionCheckEmailBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionCheckEmailText1</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Check your email&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;We have sent an email to the address you gave. The email may take a few minutes to arrive. &lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionCheckEmailWarning</name>
            <extensionName>uxgovuk:govWarningText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>warningText</name>
                <value>
                    <stringValue>Select the link in the email from Private Rented Sector Exemptions to verify your address. </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionCheckEmailText2</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;p class=&apos;govuk-body&apos;&gt;
A new page will open when you have selected the link. You will then be able to continue creating your account.
&lt;/p&gt;
&lt;p class=&apos;govuk-body&apos;&gt;
If you entered an incorrect email, or the link has expired, you can send another verification email.
&lt;/p&gt;&lt;h2 class=&apos;govuk-heading-l&apos;&gt;&lt;/h2&gt;&lt;p class=&apos;govuk-body&apos;&gt;&lt;/p&gt;
&lt;h2 class=&apos;govuk-heading-m&apos;&gt;
If you have not received an email
&lt;/h2&gt;
&lt;p class=&apos;govuk-body&apos;&gt;
If you have not received an email, you can:
&lt;/p&gt;
&lt;ul class=&apos;govuk-list govuk-list--bullet&apos;&gt;
    &lt;li&gt;navigate back and retype your address&lt;/li&gt;
    &lt;li&gt;contact customer support, if you no longer have access to that email address&lt;/li&gt;
&lt;/ul&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PreviousExemptionEmailReg</name>
        <label>PreviousExemptionEmailReg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Name_Email</targetReference>
        </connector>
        <fields>
            <name>PreviousExemptionEmailRegHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>PreviousExemptionEmailReg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Previous Exemption Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionEmailRegBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionEmailRegErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionEmailRegText</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Enter the email address you used to register you exemption&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;We will use this to connect your previous exemptions to this account.&lt;/p&gt;
&lt;p class=&apos;govuk-body&apos;&gt;If you can no longer access the email account you used, go back and select no. You will need to contact customer support [contact info] to link your exemptions to your account.&lt;/p&gt;
</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionEmail</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>PreviousExemptionEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an email address in the correct format, like name@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Enter your previously used email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>(?:[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;&apos;*+/=?^_`{|}~-]+)*|&quot;(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*&quot;)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionEmailConfirm</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>PreviousExemptionEmailConfirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm your previously used email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Email address is not in a correct format</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainstErrorMessage</name>
                <value>
                    <stringValue>The email addresses do not match</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainst</name>
                <value>
                    <elementReference>PreviousExemptionEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionEmailRegNavigation</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Send verification email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PreviousExemptionQuestion</name>
        <label>PreviousExemptionQuestion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PreviousExemptionQuestionDecision</targetReference>
        </connector>
        <fields>
            <name>PreviousExemptionQuestionHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <elementReference>PreviousExemptionQuestionHistory.pageName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionQuestionBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>destinationPageName</name>
                <value>
                    <stringValue>Home</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionQuestionErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionQuestionRadios</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueFieldId</name>
                <value>
                    <stringValue>PreviousExemptionQuestionRadios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Select if you have registered an exemption before.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <stringValue>Have you ever registered an exemption before?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <stringValue>Yes|No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inlineRadios</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>smallerRadios</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <stringValue>Yes| No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviousExemptionQuestionNavigation</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Save and continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Account_Reg</name>
        <label>Redirect to Account Reg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectToAccRegURL</name>
            <extensionName>c:navigateFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>PRSExemptionsRegister/account-registration</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>URLRedirect</name>
        <label>URLRedirect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectURL</name>
            <extensionName>c:navigateFromFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>PRSExemptionsRegister/dashboard</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Setup_Complete</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Site_Base_URL</name>
        <label>Get Site Base URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Secure_Token_Action</targetReference>
        </connector>
        <flowName>PRSE_Experience_Site_Base_URL</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>PersonalisationJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
