force-app/main/default/flows/PRSE_Exemption_Expiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Multiple_Exemption_6_Month_Warning_Email</name>
        <label>Multiple Exemption 6 Month Warning Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>60a9a9d9-456c-4e78-9aac-4f96d608d31e</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Multiple_Exemption_6_Month_Warning_Letter</name>
        <label>Multiple Exemption 6 Month Warning Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendLetterAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>84762d61-fcd8-41a6-8d11-64e8f0e2a62d</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendLetterAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Multiple_Exemption_6_Month_Warning_SMS</name>
        <label>Multiple Exemption 6 Month Warning SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendSmsAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>2e7b8aaf-c2b5-4f1a-be1f-12cd88816326</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendSmsAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Multiple_Exemptions_Expired_Email</name>
        <label>Multiple Exemptions Expired Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>ad5b001a-7010-4c7f-9c91-2001a1c193f6</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Multiple_Exemptions_Expired_Letter</name>
        <label>Multiple Exemptions Expired Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendLetterAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>f582dbec-760e-48db-ae52-8bd64b3c8490</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendLetterAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Multiple_Exemptions_Expired_SMS</name>
        <label>Multiple Exemptions Expired SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendSmsAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>1d2537ee-b250-4d50-9053-d3ae2b440d5e</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendSmsAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>New_Landlord_Exemption_End_Email</name>
        <label>New Landlord Exemption End Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify_New_Landlord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>af35ab08-20c2-475f-850a-5edd7ba04415</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>New_Landlord_Exemption_End_Letter</name>
        <label>New Landlord Exemption End Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendLetterAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify_New_Landlord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>4361afc9-25c4-4a19-aec5-59b93d95f0ca</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendLetterAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>New_Landlord_Exemption_End_SMS</name>
        <label>New Landlord Exemption End SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendSmsAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify_New_Landlord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>2440e0ab-b09a-46ae-8e22-b6da099458ed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendSmsAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Single_Exemption_6_Month_Warning_Email</name>
        <label>Single Exemption 6 Month Warning Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>9b4c0cd9-8885-439a-84dc-08fe115f1dbc</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Single_Exemption_6_Month_Warning_Letter</name>
        <label>Single Exemption 6 Month Warning Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendLetterAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>80bd0ae0-ca38-4cd4-a5c9-45a20cc2d32d</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendLetterAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Single_Exemption_6_Month_Warning_SMS</name>
        <label>Single Exemption 6 Month Warning SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendSmsAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>6a88041f-141c-4a45-8532-ec184b682b85</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendSmsAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Single_Exemption_Expired_Email</name>
        <label>Single Exemption Expired Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.Account__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>af35ab08-20c2-475f-850a-5edd7ba04415</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Single_Exemption_Expired_Letter</name>
        <label>Single Exemption Expired Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendLetterAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>4361afc9-25c4-4a19-aec5-59b93d95f0ca</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendLetterAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Single_Exemption_Expired_SMS</name>
        <label>Single Exemption Expired SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendSmsAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>JSON_Notify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>$Record.Account__r.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>2440e0ab-b09a-46ae-8e22-b6da099458ed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendSmsAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Exemption_to_JSON_Not_including_New_Landlord</name>
        <label>Add Exemption to JSON (Not including New Landlord)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONSetterExemptionInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Exemptions_Not_Including_New_Landlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_JSON_expiry_date_and_exemption_info_header</name>
        <label>Add JSON expiry date and exemption info header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONSetterDateExpired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Exemption_Expired_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_JSON_warn_date_and_exemption_info_header</name>
        <label>Add JSON warn date and exemption info header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONSetterDateWarn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Exemption_Warning_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Landlord_JSON_expiry_date_and_exemption_info_header</name>
        <label>Add New Landlord JSON expiry date and exemption info header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify_New_Landlord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONSetterNewLandlordExpired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Landlord_Exemption_Warning_Flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Landlord_to_JSON</name>
        <label>Add New Landlord to JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify_New_Landlord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_ExemptionInfoFormatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Exemptions_Not_Including_New_Landlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Child_Exemption_Ids</name>
        <label>Add To Child Exemption Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ChildExemptionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Exemptions_Not_Including_New_Landlord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Child_Exemption_New_Landlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exemption_Expired_Flag</name>
        <label>Assign Exemption Expired Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExemptionExpiredFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Exemptions_Not_Including_New_Landlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exemption_Warning_Flag</name>
        <label>Assign Exemption Warning Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExemptionWarningFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Exemptions_Not_Including_New_Landlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Landlord_Exemption_Warning_Flag</name>
        <label>Assign New Landlord Exemption Warning Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewLandlordExpiryFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Exemptions_Not_Including_New_Landlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shared_JSON</name>
        <label>Assign Shared JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_JSONCommon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify_New_Landlord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_JSONCommon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Exemption_Close_to_Expiry_Excluding_New_Landlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignChildExemption</name>
        <label>Assign Child Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_SingleChildExemption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignSingleChildExemption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignSingleChildExemption</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_JSON_Ender</name>
        <label>JSON Ender</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Text_Or_Email_6_Month_Warning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_JSON_Ender</name>
        <label>JSON Ender</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;]}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Text_Or_Email_Warning_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_General_ExemptionInfo_Value_Count</name>
        <label>Increase General ExemptionInfo Value Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GeneralExemptionInfoCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Exemption_to_JSON_Not_including_New_Landlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_New_Landlord_Value_Count</name>
        <label>Increase New Landlord Value Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewLandlordValueCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Landlord_to_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>JSON_Ender1</name>
        <label>JSON Ender</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Text_Or_Email_Single_Expired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>JSON_Ender_New_Landlord</name>
        <label>JSON Ender New Landlord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify_New_Landlord</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Text_Or_Email_New_Landlord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>JSON_Multiple_Ender</name>
        <label>JSON Multiple Ender</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;]}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Text_or_Email_Multiple_Expired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Trailing_Comma</name>
        <label>Remove Trailing Comma</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_RemoveTrailingComma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Template_to_use</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JSON_for_Single_Ended_Exemption</name>
        <label>Set JSON for Single Ended Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_JSONCommon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;exemptioninfo&quot;: [ &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONSetterSingleExemptionExpiry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Communication_Style_to_use_Single_Expired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JSON_for_Single_Warning_Exemption</name>
        <label>Set JSON for Single Warning Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_JSONCommon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONSetterDateWarn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONSetterSingleExemptionWarning</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Communication_Style_to_use_Warning_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Letter_JSON_6_Month</name>
        <label>Set Letter JSON 6 Month</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONNewLandlordLetterSetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_Exemption_6_Month_Warning_Letter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Letter_JSON_Expired</name>
        <label>Set Letter JSON Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONLetterSetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Exemptions_Expired_Letter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Letter_JSON_Multiple_Warning</name>
        <label>Set Letter JSON Multiple Warning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONLetterSetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Exemption_6_Month_Warning_Letter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Letter_JSON_New_Landlord</name>
        <label>Set Letter JSON New Landlord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify_New_Landlord</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JSON_Notify_New_Landlord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONNewLandlordLetterSetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Landlord_Exemption_End_Letter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Letter_JSON_Single_Expired</name>
        <label>Set Letter JSON Single Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JSON_Notify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_JSONLetterSetter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_Exemption_Expired_Letter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Child_Exemption_New_Landlord</name>
        <label>Is Child Exemption New Landlord?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Increase_General_ExemptionInfo_Value_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Child_Exemption_New_Landlord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Exemptions_Not_Including_New_Landlord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New landlord</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewLandlordExpiryFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Exemption_is_Expired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_New_Landlord_Value_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Exemption_Close_to_Expiry_Excluding_New_Landlord</name>
        <label>Is Exemption Close to Expiry? (Excluding New Landlord)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exemption_is_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fla_ExemptionIsExpiredNoNewLandlord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_JSON_expiry_date_and_exemption_info_header</targetReference>
            </connector>
            <label>Exemption is Expired</label>
        </rules>
        <rules>
            <name>Exemption_is_6_Months_from_Expiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fla_ExemptionIs6MonthsNoNewLandlord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_JSON_warn_date_and_exemption_info_header</targetReference>
            </connector>
            <label>Exemption is 6 Months from Expiry</label>
        </rules>
        <rules>
            <name>New_Landlord_Exemption_has_expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fla_ExemptionIs6MonthsExpiredNewLandlord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Landlord_JSON_expiry_date_and_exemption_info_header</targetReference>
            </connector>
            <label>New Landlord Exemption has expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Text_Or_Email_6_Month_Warning</name>
        <label>Text Or Email 6 Month Warning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Single_Exemption_6_Month_Warning_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email 6 Month Warning</defaultConnectorLabel>
        <rules>
            <name>Text_6_Month_Warning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Exemption_6_Month_Warning_SMS</targetReference>
            </connector>
            <label>Text 6 Month Warning</label>
        </rules>
    </decisions>
    <decisions>
        <name>Text_or_Email_Multiple_Expired</name>
        <label>Text or Email Multiple Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Multiple_Exemptions_Expired_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Multiple Expired</defaultConnectorLabel>
        <rules>
            <name>Text_Multiple_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Exemptions_Expired_SMS</targetReference>
            </connector>
            <label>Text Multiple Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Text_Or_Email_New_Landlord</name>
        <label>Text Or Email New Landlord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Landlord_Exemption_End_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email New Landlord</defaultConnectorLabel>
        <rules>
            <name>Text_New_Landlord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Landlord_Exemption_End_SMS</targetReference>
            </connector>
            <label>Text New Landlord</label>
        </rules>
    </decisions>
    <decisions>
        <name>Text_Or_Email_Single_Expired</name>
        <label>Text Or Email Single Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Single_Exemption_Expired_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Single Expired</defaultConnectorLabel>
        <rules>
            <name>Text_Single_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Exemption_Expired_SMS</targetReference>
            </connector>
            <label>Text Single Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Text_Or_Email_Warning_Multiple</name>
        <label>Text Or Email Warning Multiple</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Multiple_Exemption_6_Month_Warning_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Warning Multiple</defaultConnectorLabel>
        <rules>
            <name>Text_Warning_Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Exemption_6_Month_Warning_SMS</targetReference>
            </connector>
            <label>Text Warning Multiple</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Communication_Style_to_use_Multiple_Expired</name>
        <label>What Communication Style to use Multiple Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JSON_Multiple_Ender</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Multiple Expired</defaultConnectorLabel>
        <rules>
            <name>Letter_Multiple_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_JSON_Expired</targetReference>
            </connector>
            <label>Letter Multiple Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Communication_Style_to_use_New_Landlord</name>
        <label>What Communication Style to use New Landlord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JSON_Ender_New_Landlord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other New Landlord</defaultConnectorLabel>
        <rules>
            <name>Letter_New_Landlord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_JSON_New_Landlord</targetReference>
            </connector>
            <label>Letter New Landlord</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Communication_Style_to_use_Single_Expired</name>
        <label>What Communication Style to use Single Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JSON_Ender1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Single Expired</defaultConnectorLabel>
        <rules>
            <name>Letter_Single_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_JSON_Single_Expired</targetReference>
            </connector>
            <label>Letter Single Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Communication_Style_to_use_Warning_Multiple</name>
        <label>What Communication Style to use Warning Multiple</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_JSON_Ender</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Warning Multiple</defaultConnectorLabel>
        <rules>
            <name>Letter_Warning_Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_JSON_Multiple_Warning</targetReference>
            </connector>
            <label>Letter Warning Multiple</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Communication_Style_to_use_Warning_Single</name>
        <label>What Communication Style to use Warning Single</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_JSON_Ender</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Warning 6 Month</defaultConnectorLabel>
        <rules>
            <name>Letter_Warning_6_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Communication_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Letter_JSON_6_Month</targetReference>
            </connector>
            <label>Letter Warning 6 Month</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Expired_Template_to_use</name>
        <label>What Expired Template to use</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired_Just_Multiple_General_Exemptions_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeneralExemptionInfoCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Multiple_Exemptions</targetReference>
            </connector>
            <label>Multiple General Exemptions Exist</label>
        </rules>
        <rules>
            <name>Expired_Just_a_Single_General_Exemption_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeneralExemptionInfoCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Expired_Exemption</targetReference>
            </connector>
            <label>Just a Single General Exemption Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_warning_template_to_use</name>
        <label>What warning template to use</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Email_Send_Single_Warning_for_Exemptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeneralExemptionInfoCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSingleChildExemption</targetReference>
            </connector>
            <label>Email Send Single Warning for Exemptions</label>
        </rules>
        <rules>
            <name>Email_Send_Multiple_Warning_for_Exemptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeneralExemptionInfoCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Communication_Style_to_use_Warning_Multiple</targetReference>
            </connector>
            <label>Email Send Multiple Warning for Exemptions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Template_to_use</name>
        <label>Which Template to use</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExemptionExpiredFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Exemption_to_Expired</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
        <rules>
            <name>Expiresin6Months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExemptionWarningFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_warning_template_to_use</targetReference>
            </connector>
            <label>Expires in 6 Months</label>
        </rules>
        <rules>
            <name>NewLandlordExpired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewLandlordExpiryFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewLandlordValueCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_landlord_to_expired</targetReference>
            </connector>
            <label>New Landlord Expired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fla_CalculateExpiryDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 60)))) + &quot; &quot; + CASE(MONTH(DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 60))),1, &quot;January&quot;,2, &quot;February&quot;, 3, &quot;March&quot; ,4, &quot;April&quot; ,5, &quot;May&quot; ,6, &quot;June&quot; ,7, &quot;July&quot; ,8, &quot;August&quot; ,9, &quot;September&quot; ,10, &quot;October&quot; ,11, &quot;November&quot; ,&quot;December&quot;) + &quot; &quot;+ TEXT(YEAR(DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 60))))</expression>
    </formulas>
    <formulas>
        <name>fla_CalculateExpiryDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 60))</expression>
    </formulas>
    <formulas>
        <name>fla_CalculateLandlordExpiryDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 6)))) + &quot; &quot; + CASE(MONTH(DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 6))),1, &quot;January&quot;,2, &quot;February&quot;, 3, &quot;March&quot; ,4, &quot;April&quot; ,5, &quot;May&quot; ,6, &quot;June&quot; ,7, &quot;July&quot; ,8, &quot;August&quot; ,9, &quot;September&quot; ,10, &quot;October&quot; ,11, &quot;November&quot; ,&quot;December&quot;) + &quot; &quot;+ TEXT(YEAR(DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 6))))</expression>
    </formulas>
    <formulas>
        <name>fla_CalculateLandlordExpiryDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 60))</expression>
    </formulas>
    <formulas>
        <name>fla_CalculateWarnDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 54)))) + &quot; &quot; + CASE(MONTH(DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 54))),1, &quot;January&quot;,2, &quot;February&quot;, 3, &quot;March&quot; ,4, &quot;April&quot; ,5, &quot;May&quot; ,6, &quot;June&quot; ,7, &quot;July&quot; ,8, &quot;August&quot; ,9, &quot;September&quot; ,10, &quot;October&quot; ,11, &quot;November&quot; ,&quot;December&quot;) + &quot; &quot;+ TEXT(YEAR(DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 54))))</expression>
    </formulas>
    <formulas>
        <name>fla_CalculateWarnDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(ADDMONTHS($Record.Registered_Date__c, 54))</expression>
    </formulas>
    <formulas>
        <name>fla_ExemptionInfoFormatted</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_Exemptions_Not_Including_New_Landlord.Exemption_Type__r.Name} + &quot; : &quot; + {!Loop_through_Exemptions_Not_Including_New_Landlord.Child_Exemption_Ref__c}</expression>
    </formulas>
    <formulas>
        <name>fla_ExemptionIs6MonthsExpiredNewLandlord</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE(NOW()) = ADDMONTHS(DATEVALUE($Record.Registered_Date__c), 6)</expression>
    </formulas>
    <formulas>
        <name>fla_ExemptionIs6MonthsNoNewLandlord</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE(NOW()) = ADDMONTHS(DATEVALUE($Record.Registered_Date__c), 54)</expression>
    </formulas>
    <formulas>
        <name>fla_ExemptionIsExpiredNoNewLandlord</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE(NOW()) = ADDMONTHS(DATEVALUE($Record.Registered_Date__c), 60)</expression>
    </formulas>
    <formulas>
        <name>fla_JSONCommon</name>
        <dataType>String</dataType>
        <expression>&quot;{&quot; &amp; 
&quot;\&quot;full name\&quot;:\&quot;&quot; &amp; SUBSTITUTE({!$Record.Account__r.FirstName}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;) &amp; &quot; &quot; &amp;  SUBSTITUTE({!$Record.Account__r.LastName}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;) &amp; &quot;\&quot;,&quot; &amp; 
&quot;\&quot;address\&quot;:\&quot;&quot; &amp; {!$Record.PropertyAddress__c} &amp; &quot;, &quot; &amp; {!$Record.PropertyCity__c} &amp; &quot;, &quot; &amp; {!$Record.PropertyPostcode__c} &amp; &quot;\&quot;,&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONLetterSetter</name>
        <dataType>String</dataType>
        <expression>&quot;],\&quot;address_line_1\&quot;: \&quot;&quot; + 
SUBSTITUTE({!$Record.Account__r.FirstName}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;) + 
&quot; &quot; + 
SUBSTITUTE({!$Record.Account__r.LastName}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;) + 
&quot;\&quot;, \&quot;address_line_2\&quot;: \&quot;&quot; + {!$Record.Account__r.PersonMailingStreet} + 
&quot;\&quot;, \&quot;address_line_3\&quot;: \&quot;&quot; + {!$Record.Account__r.PersonMailingCity} + 
&quot;\&quot;, \&quot;address_line_4\&quot;: \&quot;&quot; + {!$Record.Account__r.PersonMailingPostalCode} + 
&quot;\&quot;, \&quot;address_line_5\&quot;: \&quot;&quot; + {!$Record.Account__r.PersonMailingCountry} +
&quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONNewLandlordLetterSetter</name>
        <dataType>String</dataType>
        <expression>&quot;,\&quot;address_line_1\&quot;: \&quot;&quot; + 
SUBSTITUTE({!$Record.Account__r.FirstName}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;) + 
&quot; &quot; + 
SUBSTITUTE({!$Record.Account__r.LastName}, &quot;\&quot;&quot;, &quot;\\\&quot;&quot;) + 
&quot;\&quot;, \&quot;address_line_2\&quot;: \&quot;&quot; + {!$Record.Account__r.PersonMailingStreet} + 
&quot;\&quot;, \&quot;address_line_3\&quot;: \&quot;&quot; + {!$Record.Account__r.PersonMailingCity} + 
&quot;\&quot;, \&quot;address_line_4\&quot;: \&quot;&quot; + {!$Record.Account__r.PersonMailingPostalCode} + 
&quot;\&quot;, \&quot;address_line_5\&quot;: \&quot;&quot; + {!$Record.Account__r.PersonMailingCountry} + 
&quot;\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetterDateExpired</name>
        <dataType>String</dataType>
        <expression>&quot;\&quot;date\&quot;:\&quot;&quot; &amp; {!fla_CalculateExpiryDate} &amp; &quot;\&quot;,&quot; &amp; 
&quot;\&quot;exemptioninfo\&quot;: [ \&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetterDateWarn</name>
        <dataType>String</dataType>
        <expression>&quot;\&quot;date\&quot;:\&quot;&quot; &amp; {!fla_CalculateExpiryDate} &amp; &quot;\&quot;,&quot; &amp; 
&quot;\&quot;exemptioninfo\&quot;: [\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetterExemptionInfo</name>
        <dataType>String</dataType>
        <expression>{!fla_ExemptionInfoFormatted}</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetterNewLandlordExpired</name>
        <dataType>String</dataType>
        <expression>&quot;\&quot;date\&quot;:\&quot;&quot; &amp; {!fla_CalculateLandlordExpiryDate} &amp; &quot;\&quot;,&quot; &amp; 
&quot;\&quot;exemptioninfo\&quot;:\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetterSingleExemptionExpiry</name>
        <dataType>String</dataType>
        <expression>{!Get_Single_Expired_Exemption.Name} &amp; &quot; : &quot; &amp; {!Get_Single_Expired_Exemption.Child_Exemption_Ref__c} &amp; &quot;\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_JSONSetterSingleExemptionWarning</name>
        <dataType>String</dataType>
        <expression>{!rcd_SingleChildExemption.Name} &amp; &quot; : &quot; &amp; {!rcd_SingleChildExemption.Child_Exemption_Ref__c} &amp; &quot;\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_RemoveTrailingComma</name>
        <dataType>String</dataType>
        <expression>LEFT({!JSON_Notify}, LEN({!JSON_Notify}) - 3)</expression>
    </formulas>
    <interviewLabel>PRSE Exemption Expriry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRSE Exemption Expiry</label>
    <loops>
        <name>AssignSingleChildExemption</name>
        <label>Assign Single Child Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Child_Exemption</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignChildExemption</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_JSON_for_Single_Warning_Exemption</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Exemptions_Not_Including_New_Landlord</name>
        <label>Loop through Exemptions (Not Including New Landlord)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Child_Exemption</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_To_Child_Exemption_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Trailing_Comma</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Exemption</name>
        <label>Get Child Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Shared_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <sortField>Exemption_Type_Code__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Expired_Exemption</name>
        <label>Get Single Expired Exemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Single_Child_Exemption_as_Expired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New landlord</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exemption_Type_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>End_Multiple_Exemptions</name>
        <label>End Multiple Exemptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Communication_Style_to_use_Multiple_Expired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_ChildExemptionIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New landlord</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_End_Reason__c</field>
            <value>
                <stringValue>Exemption Expired by System</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Reason__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Exemption_Type_Link__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Exemption_to_Expired</name>
        <label>Set Exemption to Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Expired_Template_to_use</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_New_landlord_to_expired</name>
        <label>Set New landlord to expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Communication_Style_to_use_New_Landlord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New landlord</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_End_Reason__c</field>
            <value>
                <stringValue>Exemption Expired by System</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Reason__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Exemption_Type_Link__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Single_Child_Exemption_as_Expired</name>
        <label>Set Single Child Exemption as Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_JSON_for_Single_Ended_Exemption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_End_Reason__c</field>
            <value>
                <stringValue>Exemption Expired by System</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Reason__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Exemption_Type_Link__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Exemption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>InternalExemptionExpiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Exemption__c</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-04-09</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_New_Landlord_Exemption_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exemption_Type_Link__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Single_Warning_Exemption</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exemption_Type_Link__c</objectType>
    </variables>
    <variables>
        <name>ExemptionExpiredFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExemptionWarningFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GeneralExemptionInfoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>JSON_Notify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JSON_Notify_New_Landlord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewLandlordExpiryFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewLandlordValueCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rcd_SingleChildExemption</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exemption_Type_Link__c</objectType>
    </variables>
    <variables>
        <name>temp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exemption_Type_Link__c</objectType>
    </variables>
    <variables>
        <name>var_ChildExemptionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
