force-app/main/default/flows/PRSE_Create_Help_Support_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendCaseReceivedEmail</name>
        <label>Send Case Received Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PRSE_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CaseConfirmation</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <stringValue>prsregistersupport@energysecurity.gov.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalisationJson</name>
            <value>
                <elementReference>fla_emailJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>10bcbf4e-10e9-4d6d-b914-45418f163dc7</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PRSE_SendEmailAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Agent_Details</name>
        <label>Assign Agent Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactFormEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReasonForRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgentSupportWithRadios.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DescribeSupport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AreYou_Variable</name>
        <label>Assign AreYou Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAreYou</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AreYouRadios.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Form_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Fields</name>
        <label>Assign Case Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcdNewCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AreYouRadios.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReasonForRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescribeSupportText.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaSuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactFormPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fla_SupportLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Help_Support_case_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Case_Values</name>
        <label>Assign Initial Case Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcdNewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_you_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Landlord_Details</name>
        <label>Assign Landlord Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactFormEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReasonForRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LandlordSupportWithRadios.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DescribeSupport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Local_Authority_Details</name>
        <label>Assign Local Authority Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactFormEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReasonForRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocalAuthoritySupportWithRadios.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DescribeSupport</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_you_Landlord_Agent_or_LA_decision</name>
        <label>Are you Landlord, Agent or LA decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Local_Authority_Support_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Local Authority</defaultConnectorLabel>
        <rules>
            <name>Landlord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreYouRadios.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landlord</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Landlord_Support_Form</targetReference>
            </connector>
            <label>Landlord</label>
        </rules>
        <rules>
            <name>Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreYouRadios.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent registering exemptions for a landlord</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgentSupportForm</targetReference>
            </connector>
            <label>Agent</label>
        </rules>
    </decisions>
    <description>Screen flow that creates a case record for Landlords, Agents and Local Authorities to submit a request for help and support</description>
    <environments>Default</environments>
    <formulas>
        <name>fla_emailJSON</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;caseNumber\&quot;:\&quot;&quot; &amp; {!Get_Help_Support_Case_Ref.CaseNumber} &amp;
&quot;\&quot;,\&quot;userType\&quot;:\&quot;&quot; &amp; TEXT({!Get_Help_Support_Case_Ref.Type}) &amp;
&quot;\&quot;,\&quot;requestReason\&quot;:\&quot;&quot; &amp; TEXT({!Get_Help_Support_Case_Ref.Reason__c}) &amp;
&quot;\&quot;,\&quot;caseUrl\&quot;:\&quot;https://prsminimumenergystandards.lightning.force.com/lightning/r/Case/&quot; &amp; {!Get_Help_Support_Case_Ref.Id} &amp; &quot;/view\&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>fla_SupportLevel</name>
        <dataType>String</dataType>
        <expression>IF(
  /* L1 - Policy related */
  OR(
    /* Complaint or Other from anyone */
    OR(
      {!varReasonForRequest} = &quot;I have a complaint&quot;,
      {!varReasonForRequest} = &quot;Other&quot;
    ),
    /* LA policy/guidance question */
    AND(
      {!varAreYou} = &quot;Local authority user&quot;,
      {!varReasonForRequest} = &quot;I have a question about the policy or guidance&quot;
    )
  ),
  &quot;L1 - Policy related&quot;,
  &quot;L2 - Service queries&quot;
)</expression>
    </formulas>
    <formulas>
        <name>flaSubject</name>
        <dataType>String</dataType>
        <expression>{!varAreYou}&amp;&quot; - &quot;&amp;{!varReasonForRequest}</expression>
    </formulas>
    <formulas>
        <name>flaSuppliedName</name>
        <dataType>String</dataType>
        <expression>{!ContactFormFirstName.value}&amp; &quot; &quot; &amp; {!ContactFormLastName.value}</expression>
    </formulas>
    <interviewLabel>PRSE {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>PRSE Create Help/Support Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Help_Support_case_record</name>
        <label>Create Help/Support case record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Help_Support_Case_Ref</targetReference>
        </connector>
        <inputReference>rcdNewCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Id</name>
        <label>Get Case Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Initial_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRSE Help / Support Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Help_Support_Case_Ref</name>
        <label>Get Help/Support Case Ref</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendCaseReceivedEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcdNewCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AgentSupportForm</name>
        <label>Agent Support Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Agent_Details</targetReference>
        </connector>
        <fields>
            <name>AgentSupportWithHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>SupportWith</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>What do you need support with</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentSupportWithBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentSupportWithErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentSupportWithRadios</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueFieldId</name>
                <value>
                    <stringValue>AgentSupportWithRadios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <stringValue>I cannot log in to my account|Something has gone wrong with the service|I have a complaint|Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <stringValue>I cannot log in to my account|Something has gone wrong with the service|I have a complaint|Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <stringValue>What do you need support with?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>LandlordSupportWithRadios.selectedValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Please select what you need support with</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentSupportWithNav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Are_you_screen</name>
        <label>Are you screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_AreYou_Variable</targetReference>
        </connector>
        <fields>
            <name>AreYouHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>AreYou</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Are you</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AreYouError</name>
            <extensionName>uxgovuk:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AreYouRadios</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueFieldId</name>
                <value>
                    <stringValue>AreYouRadios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <stringValue>Landlord|Agent registering exemptions for a landlord|Local authority user</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <stringValue>Are you a:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <stringValue>Landlord|Agent registering exemptions for a landlord|Local authority user</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Please select one of the options</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>AreYouRadios.selectedValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AreYouNav</name>
            <extensionName>uxgovuk:govNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CaseConfirmation</name>
        <label>CaseConfirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseConfirmationHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>CaseConfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Case confirmation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CaseConfirmationError</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CaseConfirmationPanel</name>
            <extensionName>uxgovuk:govPanel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bodyText</name>
                <value>
                    <stringValue>Thank you for submitting your request for support</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CaseConfirmationMarkup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;p class=&apos;govuk-body&apos;&gt;Your reference number is: {!Get_Help_Support_Case_Ref.CaseNumber}&lt;/p&gt;
&lt;p class=&apos;govuk-body&apos;&gt;Please make a note of this number.&lt;/p&gt;
&lt;p class=&quot;govuk-body&quot;&gt;We aim to respond to requests within 5 working days.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Form_Screen</name>
        <label>Contact Form Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_you_Landlord_Agent_or_LA_decision</targetReference>
        </connector>
        <fields>
            <name>ContactFormHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>ContactForm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Contact form</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactFormBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactFormError</name>
            <extensionName>uxgovuk:govErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactFormMarkup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Contact form for digital support&lt;/h1&gt;
&lt;p class=&quot;govuk-body&quot;&gt;
  We do not provide advice on what type of exemption you should register. If you need help understanding exemptions, you can:
&lt;/p&gt;

&lt;ul class=&quot;govuk-list govuk-list--bullet&quot;&gt;
  &lt;li&gt;read our guidance&lt;/li&gt;
  &lt;li&gt;contact your local authority&lt;/li&gt;
  &lt;li&gt;seek legal advice&lt;/li&gt;
&lt;/ul&gt;

&lt;p class=&quot;govuk-body&quot;&gt;
  Please provide your details so that we can contact you.
&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varAreYou</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Landlord</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varAreYou</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Agent registering exemptions for a landlord</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LAContactFormMarkup</name>
            <extensionName>uxgovuk:govMarkupText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>markupText</name>
                <value>
                    <stringValue>&lt;h1 class=&apos;govuk-heading-l&apos;&gt;Contact form for digital support&lt;/h1&gt;
&lt;p class=&apos;govuk-body&apos;&gt;Please provide your details so that we can contact you.&lt;/p&gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varAreYou</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Local authority user</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactFormFirstName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>ContactFormFirstName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>given-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a first name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>First name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactFormFirstName.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactFormLastName</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>ContactFormLastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>family-name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Last name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>widthLengthWise</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactFormLastName.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>35.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactFormEmail</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>ContactFormEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an email address in the correct format, like name@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>widthLengthWise</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactFormEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactFormConfirmEmail</name>
            <extensionName>c:gdsTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>ContactFormConfirmEmail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter an email address in the correct format, like name@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>widthLengthWise</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&amp;&apos;*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactFormConfirmEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm your email address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainstErrorMessage</name>
                <value>
                    <stringValue>Email addresses do not match</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToValidateAgainst</name>
                <value>
                    <elementReference>ContactFormEmail.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>80.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactFormPhone</name>
            <extensionName>uxgovuk:govTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>ContactFormPhone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autocompleteType</name>
                <value>
                    <stringValue>tel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Enter a phone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your telephone number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>regexPattern</name>
                <value>
                    <stringValue>^[+()0-9](?:[\d\s\-()]*[0-9)])?$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactFormPhone.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactFormNav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DescribeSupport</name>
        <label>DescribeSupport</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>DescribeSupportHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>DescribeSupport</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>Describe Support</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DescribeSupportBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DescribeSupportError</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DescribeSupportText</name>
            <extensionName>c:gdsTextArea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldId</name>
                <value>
                    <stringValue>DescribeSupportText</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please describe the issue you need support with</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hint</name>
                <value>
                    <stringValue>If you are contacting us about a specific exemption, provide the exemption number or property address.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCharacterCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <numberValue>1200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>DescribeSupportText.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Please describe the issue you need support with</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DescribeSupportNav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Landlord_Support_Form</name>
        <label>Landlord Support Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Landlord_Details</targetReference>
        </connector>
        <fields>
            <name>LandlordSupportWithHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>SupportWith</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>What do you need support with</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LandlordSupportWithBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LandlordSupportWithErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LandlordSupportWithRadios</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueFieldId</name>
                <value>
                    <stringValue>LandlordSupportWithRadios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <stringValue>I cannot log in to my account|I cannot link my new account to my previously registered exemptions|Something has gone wrong with the service|I have changed my agent and want to move my exemption|I have a complaint|Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <stringValue>I cannot log in to my account|I cannot link my new account to my previously registered exemptions|Something has gone wrong with the service|I have changed my agent and want to move my exemption|I have a complaint|Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <stringValue>What do you need support with?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>LandlordSupportWithRadios.selectedValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Please select what you need support with</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LandlordSupportWithNav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Local_Authority_Support_Form</name>
        <label>Local Authority Support Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Local_Authority_Details</targetReference>
        </connector>
        <fields>
            <name>LocalAuthoritySupportWithHistory</name>
            <extensionName>uxgovuk:govHistoryManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>SupportWith</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageTitle</name>
                <value>
                    <stringValue>What do you need support with</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LocalAuthoritySupportWithBack</name>
            <extensionName>uxgovuk:govBackLink</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backAction</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LocalAuthoritySupportWithErrors</name>
            <extensionName>c:gdsErrorMessages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LocalAuthoritySupportWithRadios</name>
            <extensionName>c:gdsRadios</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>uniqueFieldId</name>
                <value>
                    <stringValue>LocalAuthoritySupportWithRadios</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionFontSize</name>
                <value>
                    <stringValue>Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioLabels</name>
                <value>
                    <stringValue>I have a question about the policy or guidance|I need an account created|I cannot log in to my account|Something has gone wrong with the service|I need to change my permission levels|Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioValues</name>
                <value>
                    <stringValue>I have a question about the policy or guidance|I need an account created|I cannot log in to my account|Something has gone wrong with the service|I need to change my permission levels|Other</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionLabel</name>
                <value>
                    <stringValue>What do you need support with?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>LandlordSupportWithRadios.selectedValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Please select what you need support with</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LocalAuthoritySupportWithNav</name>
            <extensionName>c:gdsNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonActionsString</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullWidth</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelsString</name>
                <value>
                    <stringValue>Continue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignmentsString</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVariantsString</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rcdNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_siteUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://prsminimumenergystandards.lightning.force.com/lightning/r/Case/</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAreYou</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReasonForRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSuppliedEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
